openapi: 3.2.0
info:
  title: ⚙️ API specifications ID Document check API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: ID Document check
paths:
  /v1/checks/id_document:
    post:
      operationId: id-document-create-one
      summary: Create an ID Document check
      description: 'Create an ID Document check. Use Upload a file to get an `upload_ref`.


        ---


        #### See also

        Learn more about Id document checks

        Learn more about Files'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdDocumentCheckCreate'
            examples:
              withoutFile:
                summary: Create an ID Document check without file
                description: Using the body parameter `IdDocumentCheckCreate`
                value:
                  individual_id: 4b36ce30-3d90-421a-b2d9-a046e5e4cfef
              withFile:
                summary: Create an ID Document check with settings and file
                description: Using the body parameter `IdDocumentCheckCreate`
                value:
                  individual_id: 4b36ce30-3d90-421a-b2d9-a046e5e4cfef
                  settings:
                    automatic_approval: true
                    automatic_rejection: true
                  data:
                    front_upload_ref: af010c0c-b885-46b0-afc2-994120e27fb1
                    back_upload_ref: cd79a704-ce8c-4b58-b4cc-569da2270575
      responses:
        '201':
          description: 'ID Document check has been created


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdDocumentCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  - Limit reached. Contact us at support@dotfile.com to lift all limits.\n  - When one of the `upload_ref` is expired or invalid\n  - When one of the files is too large:  \n    - **veriff**: size must be less than **17MB** and the longer side of the image (including images embedded in a PDF) must be less than 1920px  \n    - **idnow**: size must be less than **4MB**\n  "
      tags:
      - ID Document check
  /v1/checks/id_document/{id}:
    get:
      operationId: id-document-get-one
      summary: Retrieve an ID Document check
      description: 'Returns detailed information about the specified ID Document check.


        ---


        #### See also

        Learn more about Id document checks

        Learn more about Files'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the ID Document check
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdDocumentCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  "
        '404':
          description: No ID Document check can be found.
      tags:
      - ID Document check
  /v1/checks/id_document/{id}/add_files:
    post:
      operationId: id-document-add-file
      summary: Add files
      description: 'Add some files to an existing ID Document check. Use Upload a file to get an `upload_ref`.


        ---


        #### See also

        Learn more about Id document checks

        Learn more about Files'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the ID Document check
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdDocumentCheckDataFile'
      responses:
        '201':
          description: 'File has been added to the ID Document check


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdDocumentCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  - Make sure the body payload matches the expected schema\n  - When one of the `upload_ref` is expired or invalid\n  - When one of the files is too large:  \n    - **veriff**: size must be less than **17MB** and the longer side of the image (including images embedded in a PDF) must be less than 1920px  \n    - **idnow**: size must be less than **4MB**\n  "
        '404':
          description: No ID Document check can be found.
      tags:
      - ID Document check
  /v1/checks/id_document/{id}/review:
    patch:
      operationId: id-document-review
      summary: Review an ID Document check
      description: 'Approve or reject an ID Document check. The Reviewer type will be set to `api`.


        ---


        #### See also

        Learn more about Id document checks'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the ID Document check
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewCheckInput'
      responses:
        '200':
          description: 'ID Document check has been reviewed


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdDocumentCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No ID Document check can be found.
      tags:
      - ID Document check
components:
  schemas:
    IdDocumentCheckDataDetailedResults:
      type: object
      properties:
        document:
          $ref: '#/components/schemas/DetailedResultsDocument'
      required:
      - document
    Review:
      type: object
      properties:
        comment:
          type:
          - string
          - 'null'
        reviewed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        reviewer_type:
          type:
          - string
          - 'null'
          enum:
          - user
          - system
          - api
        user:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
      required:
      - comment
      - reviewed_at
      - reviewer_type
      - user
    IdDocumentCheckData:
      type: object
      properties:
        result:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        settings:
          $ref: '#/components/schemas/IdDocumentCheckDataSettings'
        vendor:
          $ref: '#/components/schemas/IdDocumentCheckDataVendor'
        review:
          $ref: '#/components/schemas/Review'
        detailed_results:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/IdDocumentCheckDataDetailedResults'
        information:
          $ref: '#/components/schemas/IdDocumentCheckDataInformation'
      required:
      - result
      - settings
      - vendor
      - review
      - detailed_results
      - information
    IdDocumentCheckDataSettings:
      type: object
      properties:
        vendor:
          type: string
          enum:
          - veriff
          - idnow
          default: idnow
        automatic_approval:
          type: boolean
        automatic_rejection:
          type: boolean
      required:
      - vendor
      - automatic_approval
      - automatic_rejection
    DetailedResultsDocument:
      type: object
      properties:
        data_validation:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        data_consistency:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        image_integrity:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        visual_authenticity:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        compromised_document:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        data_comparison:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
      required:
      - data_validation
      - data_consistency
      - image_integrity
      - visual_authenticity
      - compromised_document
      - data_comparison
    IdDocumentCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
        individual_id:
          type: string
          format: uuid
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
          description: ℹ️ Check status `expired` is deprecated and will be removed Q1'25. It will be replaced with an expired flag.
        type:
          type: string
          default: id_document
          enum:
          - id_document
        subtype:
          type:
          - string
          - 'null'
          description: Currently always null for `id_document` Check
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        data:
          $ref: '#/components/schemas/IdDocumentCheckData'
      required:
      - id
      - individual_id
      - is_internal
      - status
      - type
      - subtype
      - last_activity_at
      - data
    IdDocumentCheckDataFile:
      type: object
      properties:
        front_upload_ref:
          type: string
        back_upload_ref:
          type:
          - string
          - 'null'
          default: null
      required:
      - front_upload_ref
    IdDocumentCheckDataInformation:
      type: object
      properties:
        document_type:
          type:
          - string
          - 'null'
          enum:
          - passport
          - identity_card
          - driving_license
          - residence_permit
          - visa
          - other
        document_number:
          type:
          - string
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        maiden_name:
          type:
          - string
          - 'null'
        gender:
          type:
          - string
          - 'null'
        nationality:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        birth_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        birth_country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        expiration_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        issuing_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        issuing_country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        front_file_id:
          type:
          - string
          - 'null'
        back_file_id:
          type:
          - string
          - 'null'
      required:
      - document_type
      - document_number
      - first_name
      - last_name
      - maiden_name
      - gender
      - nationality
      - birth_date
      - birth_country
      - expiration_date
      - issuing_date
      - issuing_country
      - front_file_id
      - back_file_id
    IdDocumentCheckCreate:
      type: object
      properties:
        individual_id:
          type: string
          format: uuid
        settings:
          description: Settings are optional and if not set it will use your workspace default settings
          allOf:
          - $ref: '#/components/schemas/IdDocumentCheckSettingsCreate'
        data:
          $ref: '#/components/schemas/IdDocumentCheckDataFile'
      required:
      - individual_id
    ReviewCheckInput:
      type: object
      properties:
        action:
          type: string
          enum:
          - approve
          - reject
        comment:
          type:
          - string
          - 'null'
          description: Optional comment for the review.
        override:
          type: boolean
          description: Set to true to change the status of an already reviewed check (in status approved or rejected).
      required:
      - action
    IdDocumentCheckDataVendor:
      type: object
      properties:
        name:
          type: string
          enum:
          - veriff
          - idnow
        verification_ref:
          type:
          - string
          - 'null'
        verification_group_ref:
          type:
          - string
          - 'null'
        verification_status:
          type:
          - string
          - 'null'
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        comment:
          type:
          - string
          - 'null'
      required:
      - name
      - verification_ref
      - verification_group_ref
      - verification_status
      - started_at
      - comment
    NestedUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
      required:
      - id
      - first_name
      - last_name
      - email
    IdDocumentCheckSettingsCreate:
      type: object
      properties:
        vendor:
          type: string
          enum:
          - veriff
          - idnow
        automatic_approval:
          type: boolean
        automatic_rejection:
          type: boolean
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
x-uploaded-at: '2026-08-14T14:05:07.336Z'
x-commit-sha: f460fa65a5cc33cf4211bbcee7818f93d5b9e8de
