openapi: 3.0.0
info:
  title: Dotfile API — Webhooks
  description: Dotfile public API — Webhooks operations. Split by tag from the OpenAPI Dotfile publishes at https://docs.dotfile.com/openapi/%EF%B8%8F-api-specifications.json
    (discovered via https://docs.dotfile.com/.well-known/api-catalog). Content is verbatim; only the tag partition is ours.
  version: v1
  contact:
    name: Dotfile Support
    email: support@dotfile.com
    url: https://docs.dotfile.com/reference/getting-help
servers:
- url: https://api.dotfile.com
  description: Production environment
tags:
- name: Webhooks
security:
- DotfileAPIKey: []
paths:
  /v1/webhooks:
    get:
      operationId: webhook-get-many
      summary: List all webhooks
      description: "Returns a list of all the webhooks endpoints registered to your Dotfile workspace.\n\n---\n\n#### See\
        \ also  \nLearn more about [Webhooks](./webhooks-guide)  \nLearn more about [Filtering, Sorting and Pagination](./filtering-sorting-and-pagination)\
        \  \n"
      parameters:
      - name: name
        required: false
        in: query
        description: "Filter items by the `name.{operator}` field.  \nYou can use the `eq`, `not_eq`, `like` and `ilike` operators,\
          \ the `eq` operator being the default."
        schema:
          type: string
      - name: created_at
        required: false
        in: query
        description: "Filter items by the `created_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt`\
          \ and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
            in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: updated_at
        required: false
        in: query
        description: "Filter items by the `updated_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt`\
          \ and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
            in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: status
        required: false
        in: query
        description: "Filter items by the `status.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq`\
          \ operator being the default."
        schema:
          type: string
          enum:
          - online
          - offline
      - name: type
        required: false
        in: query
        description: "Filter items by the `type.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq`\
          \ operator being the default."
        schema:
          type: string
          enum:
          - user
          - system
      - name: url
        required: false
        in: query
        description: "Filter items by the `url.{operator}` field.  \nYou can use the `eq`, `not_eq`, `like` and `ilike` operators,\
          \ the `eq` operator being the default."
        schema:
          type: string
      - name: events
        required: false
        in: query
        description: "Filter items by the `events.{operator}` field.  \nYou can use the `array_contains`, `array_not_contains`\
          \ and `array_overlap` operators, the `array_contains` operator being the default.  \nComma separated for multiple\
          \ values (`array_contains`, `array_not_contains` and `array_overlap`)."
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: "Use this parameter to sort query results.  \nIf not specified, sorted in _ascending_ order with values\
          \ of field `updated_at`.  \nAvailable fields are `created_at`, `name`, `status`, `type`, `updated_at` and `url`."
        schema:
          default: updated_at
          type: string
        examples:
          created_at:
            summary: Sort by values of the "created_at" field in ascending order
            value: created_at
          name:
            summary: Sort by values of the "name" field in descending order
            value: name.desc
          status:
            summary: Sort by values of the "status" field in ascending order
            value: status
          type:
            summary: Sort by values of the "type" field in descending order
            value: type.desc
          updated_at:
            summary: Sort by values of the "updated_at" field in ascending order
            value: updated_at
          url:
            summary: Sort by values of the "url" field in descending order
            value: url.desc
          multiple:
            summary: Sort by values of multiple fields
            value: created_at,name.desc
      - name: page
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose which page you want to display.  \nPage\
          \ index starts at 1 (the default)."
        schema:
          default: 1
          type: number
          minimum: 1
      - name: limit
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose the number of items per page.  \nLimit\
          \ defaults to 20, maximum value is 100."
        schema:
          type: number
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 'List of webhooks registered with the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - One or multiple filtering parameters\
            \ might be malformed. Make sure to use a supported operator and value for each filter.\n  - If specified, make\
            \ sure the value of the `page` or `limit` query parameter are valid.\n  - Value of the `sort` parameter is invalid.\
            \ Make sure the field name is supported, the sorting order is correctly specified, and a same field is not used\
            \ multiple times for sorting.\n  "
      tags:
      - Webhooks
    post:
      operationId: webhook-create-one
      summary: Create a webhook
      description: "Registers a new webhook endpoint.\n\n---\n\n#### See also  \nLearn more about [Webhooks](./webhooks-guide)\
        \  \n"
      callbacks:
        Case.ClientPortalWaitStepTriggered:
          '{$request.body#/url}':
            post:
              operationId: Case.ClientPortalWaitStepTriggered
              summary: Called on event `Case.ClientPortalWaitStepTriggered`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.Created:
          '{$request.body#/url}':
            post:
              operationId: Case.Created
              summary: Called on event `Case.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ReviewConfirmed:
          '{$request.body#/url}':
            post:
              operationId: Case.ReviewConfirmed
              summary: Called on event `Case.ReviewConfirmed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ReviewDue:
          '{$request.body#/url}':
            post:
              operationId: Case.ReviewDue
              summary: Called on event `Case.ReviewDue`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ReviewUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.ReviewUpdated
              summary: Called on event `Case.ReviewUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.Updated:
          '{$request.body#/url}':
            post:
              operationId: Case.Updated
              summary: Called on event `Case.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.AssigneeUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.AssigneeUpdated
              summary: Called on event `Case.AssigneeUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ContactHasActionsUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.ContactHasActionsUpdated
              summary: Called on event `Case.ContactHasActionsUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.FlagsUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.FlagsUpdated
              summary: Called on event `Case.FlagsUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.InfoUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.InfoUpdated
              summary: Called on event `Case.InfoUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.MetadataUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.MetadataUpdated
              summary: Called on event `Case.MetadataUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ReviewerHasActionsUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.ReviewerHasActionsUpdated
              summary: Called on event `Case.ReviewerHasActionsUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.RiskUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.RiskUpdated
              summary: Called on event `Case.RiskUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.StatusUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.StatusUpdated
              summary: Called on event `Case.StatusUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.TagsUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.TagsUpdated
              summary: Called on event `Case.TagsUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.TemplateUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.TemplateUpdated
              summary: Called on event `Case.TemplateUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Case.Deleted
              summary: Called on event `Case.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseDeletedWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        CaseReport.Generated:
          '{$request.body#/url}':
            post:
              operationId: CaseReport.Generated
              summary: Called on event `CaseReport.Generated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseReportWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Note.Created:
          '{$request.body#/url}':
            post:
              operationId: Note.Created
              summary: Called on event `Note.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Note.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Note.Deleted
              summary: Called on event `Note.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Note.Updated:
          '{$request.body#/url}':
            post:
              operationId: Note.Updated
              summary: Called on event `Note.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        NoteComment.Created:
          '{$request.body#/url}':
            post:
              operationId: NoteComment.Created
              summary: Called on event `NoteComment.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteCommentWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        NoteComment.Deleted:
          '{$request.body#/url}':
            post:
              operationId: NoteComment.Deleted
              summary: Called on event `NoteComment.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteCommentWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        NoteComment.Updated:
          '{$request.body#/url}':
            post:
              operationId: NoteComment.Updated
              summary: Called on event `NoteComment.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteCommentWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.Created:
          '{$request.body#/url}':
            post:
              operationId: Individual.Created
              summary: Called on event `Individual.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.Updated:
          '{$request.body#/url}':
            post:
              operationId: Individual.Updated
              summary: Called on event `Individual.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.InfoUpdated:
          '{$request.body#/url}':
            post:
              operationId: Individual.InfoUpdated
              summary: Called on event `Individual.InfoUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.MarkedAsNotRelevant:
          '{$request.body#/url}':
            post:
              operationId: Individual.MarkedAsNotRelevant
              summary: Called on event `Individual.MarkedAsNotRelevant`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.MarkedAsRelevant:
          '{$request.body#/url}':
            post:
              operationId: Individual.MarkedAsRelevant
              summary: Called on event `Individual.MarkedAsRelevant`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Individual.Deleted
              summary: Called on event `Individual.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualDeletedWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.Created:
          '{$request.body#/url}':
            post:
              operationId: Company.Created
              summary: Called on event `Company.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.Updated:
          '{$request.body#/url}':
            post:
              operationId: Company.Updated
              summary: Called on event `Company.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.InfoUpdated:
          '{$request.body#/url}':
            post:
              operationId: Company.InfoUpdated
              summary: Called on event `Company.InfoUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.MarkedAsNotRelevant:
          '{$request.body#/url}':
            post:
              operationId: Company.MarkedAsNotRelevant
              summary: Called on event `Company.MarkedAsNotRelevant`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.MarkedAsRelevant:
          '{$request.body#/url}':
            post:
              operationId: Company.MarkedAsRelevant
              summary: Called on event `Company.MarkedAsRelevant`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Company.Deleted
              summary: Called on event `Company.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyDeletedWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Started:
          '{$request.body#/url}':
            post:
              operationId: Check.Started
              summary: Called on event `Check.Started`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.ReviewNeeded:
          '{$request.body#/url}':
            post:
              operationId: Check.ReviewNeeded
              summary: Called on event `Check.ReviewNeeded`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Approved:
          '{$request.body#/url}':
            post:
              operationId: Check.Approved
              summary: Called on event `Check.Approved`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Rejected:
          '{$request.body#/url}':
            post:
              operationId: Check.Rejected
              summary: Called on event `Check.Rejected`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Expired:
          '{$request.body#/url}':
            post:
              operationId: Check.Expired
              summary: Called on event `Check.Expired`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Check.Deleted
              summary: Called on event `Check.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CheckDeletedWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        DocumentOrder.Completed:
          '{$request.body#/url}':
            post:
              operationId: DocumentOrder.Completed
              summary: Called on event `DocumentOrder.Completed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/DocumentOrderWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        DocumentOrder.Failed:
          '{$request.body#/url}':
            post:
              operationId: DocumentOrder.Failed
              summary: Called on event `DocumentOrder.Failed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/DocumentOrderWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        AutonomyChatRun.Completed:
          '{$request.body#/url}':
            post:
              operationId: AutonomyChatRun.Completed
              summary: Called on event `AutonomyChatRun.Completed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/AutonomyChatRunWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        AutonomyChatRun.Failed:
          '{$request.body#/url}':
            post:
              operationId: AutonomyChatRun.Failed
              summary: Called on event `AutonomyChatRun.Failed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/AutonomyChatRunWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: 'The created webhook


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches\
            \ the expected schema\n  - Maximum items reached (default: 50). Contact us at support@dotfile.com if you need\
            \ more items.\n  "
      tags:
      - Webhooks
  /v1/webhooks/{id}:
    get:
      operationId: webhook-get-one
      summary: Retrieve a webhook
      description: "Retrieves the webhook endpoint with the given ID.\n\n---\n\n#### See also  \nLearn more about [Webhooks](./webhooks-guide)\
        \  \n"
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the webhook
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: 'A webhook registered with the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified\
            \ in the URL is a valid UUID\n  "
        '404':
          description: No webhook can be found.
      tags:
      - Webhooks
    patch:
      operationId: webhook-update-one
      summary: Update a webhook
      description: "Updates the webhook endpoint.\n\n---\n\n#### See also  \nLearn more about [Webhooks](./webhooks-guide)\
        \  \n"
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the webhook
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdate'
      responses:
        '200':
          description: 'The updated webhook


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified\
            \ in the URL is a valid UUID\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No webhook can be found.
      tags:
      - Webhooks
    delete:
      operationId: webhook-delete-one
      summary: Delete a webhook
      description: "Deletes the webhook endpoint.\n\n---\n\n#### See also  \nLearn more about [Webhooks](./webhooks-guide)\
        \  \n"
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the webhook
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: Webhook has been deleted
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified\
            \ in the URL is a valid UUID\n  "
        '404':
          description: No webhook can be found.
      tags:
      - Webhooks
  /v1/webhook-logs:
    get:
      description: "Returns the webhook events delivered for your workspace — each with its full payload and every delivery\
        \ attempt — filterable by case, individual, event and date. Webhook logs are retained for a limited period (30 days\
        \ by default); events older than your retention period are not returned.\n\n---\n\n#### See also  \nLearn more about\
        \ [Webhook logs](./webhook-logs-guide)  \nLearn more about [Filtering, Sorting and Pagination](./filtering-sorting-and-pagination)\
        \  \n"
      operationId: webhook-log-get-many
      parameters:
      - name: event
        required: false
        in: query
        description: "Filter items by the `event.{operator}` field.  \nYou can use the `eq`, `not_eq`, `in` and `not_in` operators,\
          \ the `eq` operator being the default.  \nComma separated for multiple values (`in` and `not_in`)."
        schema:
          type: string
      - name: case_id
        required: false
        in: query
        description: "Filter items by the `case_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the\
          \ `eq` operator being the default."
        schema:
          type: string
      - name: individual_id
        required: false
        in: query
        description: "Filter items by the `individual_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators,\
          \ the `eq` operator being the default."
        schema:
          type: string
      - name: company_id
        required: false
        in: query
        description: "Filter items by the `company_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the\
          \ `eq` operator being the default."
        schema:
          type: string
      - name: created_at
        required: false
        in: query
        description: "Filter items by the `created_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt`\
          \ and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
            in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: sort
        required: false
        in: query
        description: "Use this parameter to sort query results.  \nIf not specified, sorted in _descending_ order with values\
          \ of field `created_at`.  \nAvailable fields are `created_at`."
        schema:
          default: created_at.desc
          type: string
        examples:
          created_at:
            summary: Sort by values of the "created_at" field in ascending order
            value: created_at
          created_at_descending:
            summary: Sort by values of the "created_at" field in descending order
            value: created_at.desc
      - name: page
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose which page you want to display.  \nPage\
          \ index starts at 1 (the default)."
        schema:
          default: 1
          type: number
          minimum: 1
      - name: limit
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose the number of items per page.  \nLimit\
          \ defaults to 20, maximum value is 50."
        schema:
          type: number
          default: 20
          minimum: 1
          maximum: 50
      responses:
        '200':
          description: 'List of webhook events delivered for the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookLogList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - One or multiple filtering parameters\
            \ might be malformed. Make sure to use a supported operator and value for each filter.\n  - If specified, make\
            \ sure the value of the `page` or `limit` query parameter are valid.\n  - Value of the `sort` parameter is invalid.\
            \ Make sure the field name is supported, the sorting order is correctly specified, and a same field is not used\
            \ multiple times for sorting.\n  "
      summary: List all webhook logs
      tags:
      - Webhooks
components:
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
