openapi: 3.2.0
info:
  title: ⚙️ API specifications Electronic Signature check API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: Electronic Signature check
paths:
  /v1/checks/electronic_signature:
    post:
      operationId: electronic-signature-create-one
      summary: Create an Electronic Signature check
      description: Create an Electronic Signature check. The check will be created with the specified document template.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElectronicSignatureCheckCreate'
            examples:
              minimal:
                summary: Minimal electronic signature check
                description: Create an electronic signature check with minimal required fields
                value:
                  individual_id: 01234567-89ab-cdef-0123-456789abcdef
                  settings:
                    document_template_key: with_version_and_draft
              complete:
                summary: Complete electronic signature check
                description: Create an electronic signature check with all optional fields
                value:
                  individual_id: 01234567-89ab-cdef-0123-456789abcdef
                  settings:
                    document_template_key: with_version_and_draft
                    automatic_approval: false
      responses:
        '201':
          description: 'Electronic Signature check has been created


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectronicSignatureCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  - Limit reached. Contact us at support@dotfile.com to lift all limits.\n  "
      tags:
      - Electronic Signature check
  /v1/checks/electronic_signature/{id}:
    get:
      operationId: electronic-signature-get-one
      summary: Retrieve an Electronic Signature check
      description: Returns detailed information about the specified Electronic Signature check.
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the Electronic Signature check
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectronicSignatureCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  "
        '404':
          description: No Electronic Signature check can be found.
      tags:
      - Electronic Signature check
  /v1/checks/electronic_signature/{id}/review:
    patch:
      operationId: electronic-signature-review
      summary: Review an Electronic Signature check
      description: Approve or reject an Electronic Signature check. The Reviewer type will be set to `api`.
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the Electronic Signature check
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewCheckInput'
      responses:
        '200':
          description: 'Electronic Signature check has been reviewed


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectronicSignatureCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No Electronic Signature check can be found.
      tags:
      - Electronic Signature check
components:
  schemas:
    Review:
      type: object
      properties:
        comment:
          type:
          - string
          - 'null'
        reviewed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        reviewer_type:
          type:
          - string
          - 'null'
          enum:
          - user
          - system
          - api
        user:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
      required:
      - comment
      - reviewed_at
      - reviewer_type
      - user
    ElectronicSignatureCheckDataSettings:
      type: object
      properties:
        document_template_key:
          type: string
        automatic_approval:
          type: boolean
      required:
      - document_template_key
      - automatic_approval
    ElectronicSignatureCheckDataInformation:
      type: object
      properties:
        audit_trail_id:
          type:
          - string
          - 'null'
        file_id:
          type:
          - string
          - 'null'
        signed_file_id:
          type:
          - string
          - 'null'
      required:
      - audit_trail_id
      - file_id
      - signed_file_id
    ElectronicSignatureCheckData:
      type: object
      properties:
        result:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        settings:
          $ref: '#/components/schemas/ElectronicSignatureCheckDataSettings'
        vendor:
          $ref: '#/components/schemas/ElectronicSignatureCheckDataVendor'
        information:
          $ref: '#/components/schemas/ElectronicSignatureCheckDataInformation'
        review:
          $ref: '#/components/schemas/Review'
      required:
      - result
      - settings
      - vendor
      - information
      - review
    ElectronicSignatureCheckDataVendor:
      type: object
      properties:
        name:
          type: string
          enum:
          - yousign
        status:
          type:
          - string
          - 'null'
        signature_request_ref:
          type:
          - string
          - 'null'
        signer_ref:
          type:
          - string
          - 'null'
        document_ref:
          type:
          - string
          - 'null'
        signature_link:
          type:
          - string
          - 'null'
        signature_link_expiration_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        ended_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
      required:
      - name
      - status
      - signature_request_ref
      - signer_ref
      - document_ref
      - signature_link
      - signature_link_expiration_date
      - started_at
      - ended_at
    ElectronicSignatureCheckCreate:
      type: object
      properties:
        individual_id:
          type: string
          format: uuid
        settings:
          description: Settings are optional and if not set it will use your workspace default settings
          allOf:
          - $ref: '#/components/schemas/ElectronicSignatureCheckSettingsCreate'
      required:
      - individual_id
    ElectronicSignatureCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
        individual_id:
          type: string
          format: uuid
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
          description: ℹ️ Check status `expired` is deprecated and will be removed Q1'25. It will be replaced with an expired flag.
        type:
          type: string
          default: electronic_signature
          enum:
          - electronic_signature
        subtype:
          type: string
          description: Contains `"document_template:{settings.document_template_key}"`
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        data:
          $ref: '#/components/schemas/ElectronicSignatureCheckData'
      required:
      - id
      - individual_id
      - is_internal
      - status
      - type
      - subtype
      - last_activity_at
      - data
    ElectronicSignatureCheckSettingsCreate:
      type: object
      properties:
        document_template_key:
          type: string
        automatic_approval:
          type: boolean
      required:
      - document_template_key
    ReviewCheckInput:
      type: object
      properties:
        action:
          type: string
          enum:
          - approve
          - reject
        comment:
          type:
          - string
          - 'null'
          description: Optional comment for the review.
        override:
          type: boolean
          description: Set to true to change the status of an already reviewed check (in status approved or rejected).
      required:
      - action
    NestedUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
      required:
      - id
      - first_name
      - last_name
      - email
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
x-uploaded-at: '2026-08-14T14:05:07.336Z'
x-commit-sha: f460fa65a5cc33cf4211bbcee7818f93d5b9e8de
