openapi: 3.2.0
info:
  title: ⚙️ API specifications Tags API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: Tags
paths:
  /v1/cases/{id}/tags:
    post:
      operationId: case-tag-create-case-tags
      summary: Add tags to case
      description: 'Add tags to your case.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseTagsCreate'
      responses:
        '201':
          description: 'Tags attached to your case


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: Case not found or tags not found on case
      tags:
      - Tags
    get:
      operationId: case-tag-get-case-tags
      summary: Get case's tags
      description: 'Get tags attached to your case.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: 'Tags attached to your case


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
        '404':
          description: Case not found
      tags:
      - Tags
    delete:
      operationId: case-tag-delete-case-tags
      summary: Delete case's tags
      description: 'Delete tags attached to your case.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseTagsCreate'
      responses:
        '200':
          description: 'Tags attached to your case


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: Case not found or tags not found on case
      tags:
      - Tags
  /v1/tags:
    get:
      operationId: tag-get-many
      summary: List all tags
      description: 'Returns a list of all tags in your Dotfile workspace.


        ---


        #### See also

        Learn more about Filtering, Sorting and Pagination'
      parameters:
      - name: label
        required: false
        in: query
        description: "Filter items by the `label.{operator}` field.  \nYou can use the `eq`, `not_eq`, `like` and `ilike` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: created_at
        required: false
        in: query
        description: "Filter items by the `created_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: sort
        required: false
        in: query
        description: "Use this parameter to sort query results.  \nIf not specified, sorted in _ascending_ order with values of field `created_at`.  \nAvailable fields are `created_at` and `label`."
        schema:
          default: created_at
          type: string
        examples:
          created_at:
            summary: Sort by values of the "created_at" field in ascending order
            value: created_at
          label:
            summary: Sort by values of the "label" field in descending order
            value: label.desc
          multiple:
            summary: Sort by values of multiple fields
            value: created_at,label.desc
      - name: page
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose which page you want to display.  \nPage index starts at 1 (the default)."
        schema:
          default: 1
          type: number
          minimum: 1
      - name: limit
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose the number of items per page.  \nLimit defaults to 20, maximum value is 100."
        schema:
          type: number
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 'List of tags in the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagPaginatedList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - One or multiple filtering parameters might be malformed. Make sure to use a supported operator and value for each filter.\n  - If specified, make sure the value of the `page` or `limit` query parameter are valid.\n  - Value of the `sort` parameter is invalid. Make sure the field name is supported, the sorting order is correctly specified, and a same field is not used multiple times for sorting.\n  "
      tags:
      - Tags
    post:
      operationId: tag-create-one
      summary: Create a tag
      description: Create a tag in your workspace.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreate'
      responses:
        '201':
          description: 'Tag has been created in the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  - Maximum items reached (default: 200). Contact us at support@dotfile.com if you need more items.\n  "
      tags:
      - Tags
  /v1/tags/{id}:
    get:
      operationId: tag-get-one
      summary: Retrieve a tag
      description: Get the specified tag.
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the tag
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '404':
          description: No tag can be found.
      tags:
      - Tags
    patch:
      operationId: tag-update-one
      summary: Update a tag
      description: Update the specified tag.
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the tag
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdate'
      responses:
        '200':
          description: 'Returns the updated tag


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No tag can be found.
      tags:
      - Tags
    delete:
      operationId: tag-delete-one
      summary: Delete a tag
      description: Delete the specified tag.
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the tag
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  "
        '404':
          description: No tag can be found.
      tags:
      - Tags
components:
  schemas:
    Tag:
      type: object
      properties:
        id:
          type: string
          format: uuid
        label:
          type: string
          example: High risk
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - label
      - created_at
    Pagination:
      type: object
      properties:
        page:
          type: number
          description: Current page number (defined in query parameter)
          default: 1
        limit:
          type: number
          description: Item count per page (defined in query parameter)
          default: 20
        count:
          type: number
          description: Total items count
          example: 42
      required:
      - page
      - limit
      - count
    TagUpdate:
      type: object
      properties:
        label:
          type: string
          description: "- label must not contain one of the following characters: `, ; : | / \\`\n - Tag label must be unique\n - Maximum of 100 characters"
          maxLength: 100
          minLength: 1
      required:
      - label
    TagList:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
      required:
      - tags
    TagCreate:
      type: object
      properties:
        label:
          type: string
          description: "- label must not contain one of the following characters: `, ; : | / \\`\n - Tag label must be unique\n - Maximum of 100 characters"
          maxLength: 100
          minLength: 1
      required:
      - label
    TagPaginatedList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        pagination:
          example:
            page: 1
            limit: 20
            count: 42
          allOf:
          - $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
    CaseTagsCreate:
      type: object
      properties:
        tags:
          description: Tags for this case. Either tag `id`, or tag `label`. Tag labels are case insensitive
          example:
          - High risk
          - 8468f8e0-1067-4099-b8c3-824ae8b7204e
          type: array
          items:
            type: string
      required:
      - tags
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
x-uploaded-at: '2026-08-14T14:05:07.336Z'
x-commit-sha: f460fa65a5cc33cf4211bbcee7818f93d5b9e8de
