openapi: 3.2.0
info:
  title: ⚙️ API specifications Checks API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: Checks
paths:
  /v1/checks:
    get:
      operationId: check-get-many
      summary: List all checks
      description: 'Returns a list of all checks created in your Dotfile workspace.


        ---


        #### See also

        Learn more about Checks

        Learn more about Filtering, Sorting and Pagination'
      parameters:
      - name: individual_id
        required: false
        in: query
        description: "Filter items by the `individual_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: company_id
        required: false
        in: query
        description: "Filter items by the `company_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: status
        required: false
        in: query
        description: "Filter items by the `status.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
      - name: type
        required: false
        in: query
        description: "Filter items by the `type.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
          enum:
          - id_verification
          - id_document
          - aml
          - company_monitoring
          - document
          - ekyc
          - electronic_signature
          - fraud_database
          - online_reputation
      - name: exclude_internal
        required: false
        in: query
        description: "Exclude checks that are marked as internal.  \nDefault is false"
        schema:
          type: boolean
      - name: include_not_relevant
        required: false
        in: query
        description: "Include checks from individuals marked as not relevant.  \nDefault is false"
        schema:
          type: boolean
      - name: created_at
        required: false
        in: query
        description: "Filter items by the `created_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: updated_at
        required: false
        in: query
        description: "Filter items by the `updated_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: last_activity_at
        required: false
        in: query
        description: "Filter items by the `last_activity_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: sort
        required: false
        in: query
        description: "Use this parameter to sort query results.  \nIf not specified, sorted in _ascending_ order with values of field `updated_at`.  \nAvailable fields are `created_at`, `last_activity_at` and `updated_at`."
        schema:
          default: updated_at
          type: string
        examples:
          created_at:
            summary: Sort by values of the "created_at" field in ascending order
            value: created_at
          last_activity_at:
            summary: Sort by values of the "last_activity_at" field in descending order
            value: last_activity_at.desc
          updated_at:
            summary: Sort by values of the "updated_at" field in ascending order
            value: updated_at
          multiple:
            summary: Sort by values of multiple fields
            value: created_at,last_activity_at.desc
      - name: page
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose which page you want to display.  \nPage index starts at 1 (the default)."
        schema:
          default: 1
          type: number
          minimum: 1
      - name: limit
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose the number of items per page.  \nLimit defaults to 20, maximum value is 100."
        schema:
          type: number
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 'List of checks created in the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - One or multiple filtering parameters might be malformed. Make sure to use a supported operator and value for each filter.\n  - If specified, make sure the value of the `page` or `limit` query parameter are valid.\n  - Value of the `sort` parameter is invalid. Make sure the field name is supported, the sorting order is correctly specified, and a same field is not used multiple times for sorting.\n  "
      tags:
      - Checks
  /v1/checks/{id}:
    delete:
      operationId: check-delete-one
      summary: Delete a check
      description: Delete the specified check.
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the check
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  "
        '404':
          description: No check can be found.
      tags:
      - Checks
components:
  schemas:
    Check:
      type: object
      properties:
        id:
          type: string
          format: uuid
        individual_id:
          type:
          - string
          - 'null'
        company_id:
          type:
          - string
          - 'null'
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
          description: ℹ️ Check status `expired` is deprecated and will be removed Q1'25. It will be replaced with an expired flag.
        type:
          type: string
          enum:
          - id_verification
          - id_document
          - aml
          - company_monitoring
          - document
          - ekyc
          - electronic_signature
          - fraud_database
          - online_reputation
        subtype:
          type:
          - string
          - 'null'
          description: "Contains the `subtype` for some check `type`:  \n- `document`: Currently contains `\"document_type:{document_type_key}\"`  \n- `electronic_signature`: Contains `\"document_template:{document_template_key}\"`  \n- For all other check type, always contains `null`"
        document_type_key:
          type: string
          description: Set only for `document` Check with the document type key.
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - individual_id
      - company_id
      - is_internal
      - status
      - type
      - subtype
      - created_at
      - updated_at
      - last_activity_at
    CheckList:
      type: object
      properties:
        data:
          example:
          - id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
            individual_id: 5e1a2886-de4b-4c98-ae73-aee8cf7d044f
            company_id: null
            is_internal: false
            status: in_progress
            type: id_verification
            subtype: null
            created_at: '2025-07-25T16:08:26.962Z'
            updated_at: '2025-07-25T16:08:26.962Z'
            last_activity_at: '2025-07-25T16:08:26.962Z'
          - id: 88ef7487-a863-459f-a738-d94ecc3e7d61
            individual_id: null
            company_id: 11676e8d-0200-46d3-81f6-c11f340669a2
            is_internal: true
            status: need_review
            type: document
            subtype: document_type:bank_details
            document_type_key: bank_details
            created_at: '2025-07-25T16:08:26.962Z'
            updated_at: '2025-07-25T16:08:26.962Z'
            last_activity_at: '2025-07-25T16:08:26.962Z'
          type: array
          items:
            $ref: '#/components/schemas/Check'
        pagination:
          example:
            page: 1
            limit: 20
            count: 2
          allOf:
          - $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
    Pagination:
      type: object
      properties:
        page:
          type: number
          description: Current page number (defined in query parameter)
          default: 1
        limit:
          type: number
          description: Item count per page (defined in query parameter)
          default: 20
        count:
          type: number
          description: Total items count
          example: 42
      required:
      - page
      - limit
      - count
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
x-uploaded-at: '2026-08-14T14:05:07.336Z'
x-commit-sha: f460fa65a5cc33cf4211bbcee7818f93d5b9e8de
