openapi: 3.2.0
info:
  title: ⚙️ API specifications Webhooks API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: Webhooks
paths:
  /v1/webhooks:
    get:
      operationId: webhook-get-many
      summary: List all webhooks
      description: 'Returns a list of all the webhooks endpoints registered to your Dotfile workspace.


        ---


        #### See also

        Learn more about Webhooks

        Learn more about Filtering, Sorting and Pagination'
      parameters:
      - name: name
        required: false
        in: query
        description: "Filter items by the `name.{operator}` field.  \nYou can use the `eq`, `not_eq`, `like` and `ilike` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: created_at
        required: false
        in: query
        description: "Filter items by the `created_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: updated_at
        required: false
        in: query
        description: "Filter items by the `updated_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: status
        required: false
        in: query
        description: "Filter items by the `status.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
          enum:
          - online
          - offline
      - name: type
        required: false
        in: query
        description: "Filter items by the `type.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
          enum:
          - user
          - system
      - name: url
        required: false
        in: query
        description: "Filter items by the `url.{operator}` field.  \nYou can use the `eq`, `not_eq`, `like` and `ilike` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: events
        required: false
        in: query
        description: "Filter items by the `events.{operator}` field.  \nYou can use the `array_contains`, `array_not_contains` and `array_overlap` operators, the `array_contains` operator being the default.  \nComma separated for multiple values (`array_contains`, `array_not_contains` and `array_overlap`)."
        schema:
          type: string
      - name: sort
        required: false
        in: query
        description: "Use this parameter to sort query results.  \nIf not specified, sorted in _ascending_ order with values of field `updated_at`.  \nAvailable fields are `created_at`, `name`, `status`, `type`, `updated_at` and `url`."
        schema:
          default: updated_at
          type: string
        examples:
          created_at:
            summary: Sort by values of the "created_at" field in ascending order
            value: created_at
          name:
            summary: Sort by values of the "name" field in descending order
            value: name.desc
          status:
            summary: Sort by values of the "status" field in ascending order
            value: status
          type:
            summary: Sort by values of the "type" field in descending order
            value: type.desc
          updated_at:
            summary: Sort by values of the "updated_at" field in ascending order
            value: updated_at
          url:
            summary: Sort by values of the "url" field in descending order
            value: url.desc
          multiple:
            summary: Sort by values of multiple fields
            value: created_at,name.desc
      - name: page
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose which page you want to display.  \nPage index starts at 1 (the default)."
        schema:
          default: 1
          type: number
          minimum: 1
      - name: limit
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose the number of items per page.  \nLimit defaults to 20, maximum value is 100."
        schema:
          type: number
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 'List of webhooks registered with the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - One or multiple filtering parameters might be malformed. Make sure to use a supported operator and value for each filter.\n  - If specified, make sure the value of the `page` or `limit` query parameter are valid.\n  - Value of the `sort` parameter is invalid. Make sure the field name is supported, the sorting order is correctly specified, and a same field is not used multiple times for sorting.\n  "
      tags:
      - Webhooks
    post:
      operationId: webhook-create-one
      summary: Create a webhook
      description: 'Registers a new webhook endpoint.


        ---


        #### See also

        Learn more about Webhooks'
      callbacks:
        Case.ClientPortalWaitStepTriggered:
          '{$request.body#/url}':
            post:
              operationId: Case.ClientPortalWaitStepTriggered
              summary: Called on event `Case.ClientPortalWaitStepTriggered`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.Created:
          '{$request.body#/url}':
            post:
              operationId: Case.Created
              summary: Called on event `Case.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ReviewConfirmed:
          '{$request.body#/url}':
            post:
              operationId: Case.ReviewConfirmed
              summary: Called on event `Case.ReviewConfirmed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ReviewDue:
          '{$request.body#/url}':
            post:
              operationId: Case.ReviewDue
              summary: Called on event `Case.ReviewDue`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ReviewUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.ReviewUpdated
              summary: Called on event `Case.ReviewUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.Updated:
          '{$request.body#/url}':
            post:
              operationId: Case.Updated
              summary: Called on event `Case.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.AssigneeUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.AssigneeUpdated
              summary: Called on event `Case.AssigneeUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ContactHasActionsUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.ContactHasActionsUpdated
              summary: Called on event `Case.ContactHasActionsUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.FlagsUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.FlagsUpdated
              summary: Called on event `Case.FlagsUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.InfoUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.InfoUpdated
              summary: Called on event `Case.InfoUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.MetadataUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.MetadataUpdated
              summary: Called on event `Case.MetadataUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.ReviewerHasActionsUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.ReviewerHasActionsUpdated
              summary: Called on event `Case.ReviewerHasActionsUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.RiskUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.RiskUpdated
              summary: Called on event `Case.RiskUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.StatusUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.StatusUpdated
              summary: Called on event `Case.StatusUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.TagsUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.TagsUpdated
              summary: Called on event `Case.TagsUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.TemplateUpdated:
          '{$request.body#/url}':
            post:
              operationId: Case.TemplateUpdated
              summary: Called on event `Case.TemplateUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Case.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Case.Deleted
              summary: Called on event `Case.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseDeletedWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        CaseReport.Generated:
          '{$request.body#/url}':
            post:
              operationId: CaseReport.Generated
              summary: Called on event `CaseReport.Generated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CaseReportWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Note.Created:
          '{$request.body#/url}':
            post:
              operationId: Note.Created
              summary: Called on event `Note.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Note.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Note.Deleted
              summary: Called on event `Note.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Note.Updated:
          '{$request.body#/url}':
            post:
              operationId: Note.Updated
              summary: Called on event `Note.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        NoteComment.Created:
          '{$request.body#/url}':
            post:
              operationId: NoteComment.Created
              summary: Called on event `NoteComment.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteCommentWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        NoteComment.Deleted:
          '{$request.body#/url}':
            post:
              operationId: NoteComment.Deleted
              summary: Called on event `NoteComment.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteCommentWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        NoteComment.Updated:
          '{$request.body#/url}':
            post:
              operationId: NoteComment.Updated
              summary: Called on event `NoteComment.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/NoteCommentWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.Created:
          '{$request.body#/url}':
            post:
              operationId: Individual.Created
              summary: Called on event `Individual.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.Updated:
          '{$request.body#/url}':
            post:
              operationId: Individual.Updated
              summary: Called on event `Individual.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.InfoUpdated:
          '{$request.body#/url}':
            post:
              operationId: Individual.InfoUpdated
              summary: Called on event `Individual.InfoUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.MarkedAsNotRelevant:
          '{$request.body#/url}':
            post:
              operationId: Individual.MarkedAsNotRelevant
              summary: Called on event `Individual.MarkedAsNotRelevant`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.MarkedAsRelevant:
          '{$request.body#/url}':
            post:
              operationId: Individual.MarkedAsRelevant
              summary: Called on event `Individual.MarkedAsRelevant`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Individual.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Individual.Deleted
              summary: Called on event `Individual.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IndividualDeletedWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.Created:
          '{$request.body#/url}':
            post:
              operationId: Company.Created
              summary: Called on event `Company.Created`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.Updated:
          '{$request.body#/url}':
            post:
              operationId: Company.Updated
              summary: Called on event `Company.Updated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.InfoUpdated:
          '{$request.body#/url}':
            post:
              operationId: Company.InfoUpdated
              summary: Called on event `Company.InfoUpdated`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.MarkedAsNotRelevant:
          '{$request.body#/url}':
            post:
              operationId: Company.MarkedAsNotRelevant
              summary: Called on event `Company.MarkedAsNotRelevant`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.MarkedAsRelevant:
          '{$request.body#/url}':
            post:
              operationId: Company.MarkedAsRelevant
              summary: Called on event `Company.MarkedAsRelevant`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Company.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Company.Deleted
              summary: Called on event `Company.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CompanyDeletedWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Started:
          '{$request.body#/url}':
            post:
              operationId: Check.Started
              summary: Called on event `Check.Started`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.ReviewNeeded:
          '{$request.body#/url}':
            post:
              operationId: Check.ReviewNeeded
              summary: Called on event `Check.ReviewNeeded`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Approved:
          '{$request.body#/url}':
            post:
              operationId: Check.Approved
              summary: Called on event `Check.Approved`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Rejected:
          '{$request.body#/url}':
            post:
              operationId: Check.Rejected
              summary: Called on event `Check.Rejected`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Expired:
          '{$request.body#/url}':
            post:
              operationId: Check.Expired
              summary: Called on event `Check.Expired`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      oneOf:
                      - $ref: '#/components/schemas/AmlCheckWebhook'
                        title: AML Check Webhook
                      - $ref: '#/components/schemas/CompanyMonitoringCheckWebhook'
                        title: Company Monitoring Check Webhook
                      - $ref: '#/components/schemas/DocumentCheckWebhook'
                        title: Document Check Webhook
                      - $ref: '#/components/schemas/EkycCheckWebhook'
                        title: eKYC Check Webhook
                      - $ref: '#/components/schemas/ElectronicSignatureCheckWebhook'
                        title: Electronic Signature Check Webhook
                      - $ref: '#/components/schemas/FraudDatabaseCheckWebhook'
                        title: Fraud Database Check Webhook
                      - $ref: '#/components/schemas/IdDocumentCheckWebhook'
                        title: Identity Document Check Webhook
                      - $ref: '#/components/schemas/IdVerificationCheckWebhook'
                        title: Identity Verification Check Webhook
                      - $ref: '#/components/schemas/OnlineReputationCheckWebhook'
                        title: Online Reputation Check Webhook
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Check.Deleted:
          '{$request.body#/url}':
            post:
              operationId: Check.Deleted
              summary: Called on event `Check.Deleted`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CheckDeletedWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        DocumentOrder.Completed:
          '{$request.body#/url}':
            post:
              operationId: DocumentOrder.Completed
              summary: Called on event `DocumentOrder.Completed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/DocumentOrderWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        DocumentOrder.Failed:
          '{$request.body#/url}':
            post:
              operationId: DocumentOrder.Failed
              summary: Called on event `DocumentOrder.Failed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/DocumentOrderWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        AutonomyChatRun.Completed:
          '{$request.body#/url}':
            post:
              operationId: AutonomyChatRun.Completed
              summary: Called on event `AutonomyChatRun.Completed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/AutonomyChatRunWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        AutonomyChatRun.Failed:
          '{$request.body#/url}':
            post:
              operationId: AutonomyChatRun.Failed
              summary: Called on event `AutonomyChatRun.Failed`
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/AutonomyChatRunWebhook'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: 'The created webhook


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  - Maximum items reached (default: 50). Contact us at support@dotfile.com if you need more items.\n  "
      tags:
      - Webhooks
  /v1/webhooks/{id}:
    get:
      operationId: webhook-get-one
      summary: Retrieve a webhook
      description: 'Retrieves the webhook endpoint with the given ID.


        ---


        #### See also

        Learn more about Webhooks'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the webhook
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: 'A webhook registered with the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  "
        '404':
          description: No webhook can be found.
      tags:
      - Webhooks
    patch:
      operationId: webhook-update-one
      summary: Update a webhook
      description: 'Updates the webhook endpoint.


        ---


        #### See also

        Learn more about Webhooks'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the webhook
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdate'
      responses:
        '200':
          description: 'The updated webhook


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No webhook can be found.
      tags:
      - Webhooks
    delete:
      operationId: webhook-delete-one
      summary: Delete a webhook
      description: 'Deletes the webhook endpoint.


        ---


        #### See also

        Learn more about Webhooks'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the webhook
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: Webhook has been deleted
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  "
        '404':
          description: No webhook can be found.
      tags:
      - Webhooks
  /v1/webhook-logs:
    get:
      description: 'Returns the webhook events delivered for your workspace — each with its full payload and every delivery attempt — filterable by case, individual, event and date. Webhook logs are retained for a limited period (30 days by default); events older than your retention period are not returned.


        ---


        #### See also

        Learn more about Webhook logs

        Learn more about Filtering, Sorting and Pagination'
      operationId: webhook-log-get-many
      parameters:
      - name: event
        required: false
        in: query
        description: "Filter items by the `event.{operator}` field.  \nYou can use the `eq`, `not_eq`, `in` and `not_in` operators, the `eq` operator being the default.  \nComma separated for multiple values (`in` and `not_in`)."
        schema:
          type: string
      - name: case_id
        required: false
        in: query
        description: "Filter items by the `case_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: individual_id
        required: false
        in: query
        description: "Filter items by the `individual_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: company_id
        required: false
        in: query
        description: "Filter items by the `company_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: created_at
        required: false
        in: query
        description: "Filter items by the `created_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: sort
        required: false
        in: query
        description: "Use this parameter to sort query results.  \nIf not specified, sorted in _descending_ order with values of field `created_at`.  \nAvailable fields are `created_at`."
        schema:
          default: created_at.desc
          type: string
        examples:
          created_at:
            summary: Sort by values of the "created_at" field in ascending order
            value: created_at
          created_at_descending:
            summary: Sort by values of the "created_at" field in descending order
            value: created_at.desc
      - name: page
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose which page you want to display.  \nPage index starts at 1 (the default)."
        schema:
          default: 1
          type: number
          minimum: 1
      - name: limit
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose the number of items per page.  \nLimit defaults to 20, maximum value is 50."
        schema:
          type: number
          default: 20
          minimum: 1
          maximum: 50
      responses:
        '200':
          description: 'List of webhook events delivered for the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookLogList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - One or multiple filtering parameters might be malformed. Make sure to use a supported operator and value for each filter.\n  - If specified, make sure the value of the `page` or `limit` query parameter are valid.\n  - Value of the `sort` parameter is invalid. Make sure the field name is supported, the sorting order is correctly specified, and a same field is not used multiple times for sorting.\n  "
      summary: List all webhook logs
      tags:
      - Webhooks
components:
  schemas:
    CaseDeletedWebhookContext:
      type: object
      properties:
        timestamp:
          type: number
          description: Webhook timestamp to prevent replay attacks
        event_id:
          type: string
          description: UUID of the event. When a webhook is retried the event id is the same as the initial call.
        retry_count:
          type: number
          description: Webhook retry counter. 0 for the initial call.
        remaining_retry_count:
          type: number
          description: 'Webhook automatic remaining retry counter. Max retry count: 4.'
        workspace:
          $ref: '#/components/schemas/WebhookContextWorkspace'
      required:
      - timestamp
      - event_id
      - retry_count
      - remaining_retry_count
      - workspace
    WebhookLogAttempt:
      type: object
      properties:
        type:
          type: string
          enum:
          - first_call
          - manual_retry
          - automatic_retry
          description: Whether this was the first call or a retry.
        endpoint:
          type: string
          format: url
          description: The endpoint that was called.
        status_code:
          type: number
          description: HTTP status code returned by your endpoint.
        request_headers:
          type: object
          additionalProperties:
            type: string
          description: Headers Dotfile sent, including the signature.
        response_headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: Headers your endpoint returned.
        response_body:
          type:
          - string
          - 'null'
          description: Body your endpoint returned.
        attempted_at:
          type: string
          format: date-time
          description: "When this attempt was made.  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - type
      - endpoint
      - status_code
      - request_headers
      - response_headers
      - response_body
      - attempted_at
    CaseDeleted:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        external_id:
          type:
          - string
          - 'null'
      required:
      - id
      - name
      - external_id
    EkycCheckData:
      type: object
      properties:
        result:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        decision:
          type:
          - string
          - 'null'
          enum:
          - match
          - inconclusive
          - inconsistent
        settings:
          $ref: '#/components/schemas/EkycCheckDataSettings'
        vendor:
          $ref: '#/components/schemas/EkycCheckDataVendor'
        review:
          $ref: '#/components/schemas/Review'
        information:
          $ref: '#/components/schemas/EkycCheckDataInformation'
        ai:
          $ref: '#/components/schemas/EkycCheckDataAi'
        fraud_signals:
          allOf:
          - $ref: '#/components/schemas/EkycCheckDataFraudSignals'
      required:
      - result
      - decision
      - settings
      - vendor
      - review
      - information
      - fraud_signals
      - ai
    EkycCheckDataSettings:
      type: object
      properties:
        vendor:
          type: string
          enum:
          - gbg
        automatic_approval:
          type: boolean
        automatic_rejection:
          type: boolean
      required:
      - vendor
      - automatic_approval
      - automatic_rejection
    IndividualWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Individual.Created
          - Individual.Updated
          description: '`Individual.Created`,`Individual.Updated`'
        sub_event:
          type: string
          enum:
          - Individual.InfoUpdated
          - Individual.MarkedAsNotRelevant
          - Individual.MarkedAsRelevant
          description: "The `sub_event` depends on the event:\n\n`Individual.Updated`\n   - `Individual.InfoUpdated`\n   - `Individual.MarkedAsNotRelevant`\n   - `Individual.MarkedAsRelevant`\n"
        context:
          $ref: '#/components/schemas/IndividualWebhookContext'
        individual:
          $ref: '#/components/schemas/Individual'
      required:
      - event
      - context
      - individual
    AmlCheckDataComplyAdvantageMeshVendor:
      type: object
      properties:
        is_search_monitored:
          type: boolean
        created_at:
          type: string
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        name:
          type: string
          enum:
          - comply_advantage_mesh
        customer_id:
          type: string
      required:
      - is_search_monitored
      - created_at
      - name
      - customer_id
    iban:
      type: object
      properties:
        model:
          type: string
          enum:
          - iban
        iban_matching:
          type: boolean
          description: 'Verify if iban extracted on the document match entity `banking_information.iban`. Default: `false`'
        bic_matching:
          type: boolean
          description: 'Verify if bic extracted on the document match entity `banking_information.bic`. Default: `false`'
      required:
      - model
    WebhookUpdate:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum:
          - online
          - offline
          default: online
        type:
          type: string
          enum:
          - user
          - system
          default: user
        url:
          type: string
          format: url
        events:
          type: array
          description: '`AutonomyChatRun.Completed`, `AutonomyChatRun.Failed`, `Case.AssigneeUpdated`, `Case.ClientPortalWaitStepTriggered`, `Case.ContactHasActionsUpdated`, `Case.Created`, `Case.Deleted`, `Case.FlagsUpdated`, `Case.InfoUpdated`, `Case.MetadataUpdated`, `Case.ReviewConfirmed`, `Case.ReviewDue`, `Case.ReviewUpdated`, `Case.ReviewerHasActionsUpdated`, `Case.RiskUpdated`, `Case.StatusUpdated`, `Case.TagsUpdated`, `Case.TemplateUpdated`, `Case.Updated`, `CaseReport.Generated`, `Check.Approved`, `Check.Deleted`, `Check.Expired`, `Check.Rejected`, `Check.ReviewNeeded`, `Check.Started`, `Company.Created`, `Company.Deleted`, `Company.InfoUpdated`, `Company.MarkedAsNotRelevant`, `Company.MarkedAsRelevant`, `Company.Updated`, `DocumentOrder.Completed`, `DocumentOrder.Failed`, `Individual.Created`, `Individual.Deleted`, `Individual.InfoUpdated`, `Individual.MarkedAsNotRelevant`, `Individual.MarkedAsRelevant`, `Individual.Updated`, `Note.Created`, `Note.Deleted`, `Note.Updated`, `NoteComment.Created`, `NoteComment.Deleted`, `NoteComment.Updated`'
          items:
            type: string
            enum:
            - AutonomyChatRun.Completed
            - AutonomyChatRun.Failed
            - Case.AssigneeUpdated
            - Case.ClientPortalWaitStepTriggered
            - Case.ContactHasActionsUpdated
            - Case.Created
            - Case.Deleted
            - Case.FlagsUpdated
            - Case.InfoUpdated
            - Case.MetadataUpdated
            - Case.ReviewConfirmed
            - Case.ReviewDue
            - Case.ReviewUpdated
            - Case.ReviewerHasActionsUpdated
            - Case.RiskUpdated
            - Case.StatusUpdated
            - Case.TagsUpdated
            - Case.TemplateUpdated
            - Case.Updated
            - CaseReport.Generated
            - Check.Approved
            - Check.Deleted
            - Check.Expired
            - Check.Rejected
            - Check.ReviewNeeded
            - Check.Started
            - Company.Created
            - Company.Deleted
            - Company.InfoUpdated
            - Company.MarkedAsNotRelevant
            - Company.MarkedAsRelevant
            - Company.Updated
            - DocumentOrder.Completed
            - DocumentOrder.Failed
            - Individual.Created
            - Individual.Deleted
            - Individual.InfoUpdated
            - Individual.MarkedAsNotRelevant
            - Individual.MarkedAsRelevant
            - Individual.Updated
            - Note.Created
            - Note.Deleted
            - Note.Updated
            - NoteComment.Created
            - NoteComment.Deleted
            - NoteComment.Updated
        secret:
          type: string
          description: A secret token used to sign the webhook payload. Autogenerated if not set.
    DataLineage:
      type: object
      properties:
        current_value:
          oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            items: {}
          - type:
            - object
            - 'null'
            additionalProperties: true
          description: Current value of the property on the entity
        sources:
          description: Property sources
          type: array
          items:
            $ref: '#/components/schemas/DataLineageValueSource'
      required:
      - current_value
      - sources
    ElectronicSignatureCheckDataSettings:
      type: object
      properties:
        document_template_key:
          type: string
        automatic_approval:
          type: boolean
      required:
      - document_template_key
      - automatic_approval
    EkycTrustSignal:
      type: object
      properties:
        score:
          type:
          - number
          - 'null'
        band:
          type:
          - string
          - 'null'
        triggered_rules:
          type: array
          items:
            $ref: '#/components/schemas/EkycTrustRule'
      required:
      - score
      - band
      - triggered_rules
    DocumentOrderWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - DocumentOrder.Completed
          - DocumentOrder.Failed
          description: '`DocumentOrder.Completed`,`DocumentOrder.Failed`'
        context:
          $ref: '#/components/schemas/DocumentOrderWebhookContext'
        document_order:
          $ref: '#/components/schemas/DocumentOrder'
      required:
      - event
      - context
      - document_order
    IndividualDeletedWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Individual.Deleted
          description: '`Individual.Deleted`'
        context:
          $ref: '#/components/schemas/IndividualDeletedWebhookContext'
        individual:
          $ref: '#/components/schemas/IndividualDeleted'
      required:
      - event
      - context
      - individual
    TemplateLight:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        key:
          type: string
      required:
      - id
      - name
      - key
    AutonomyChatRunWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - AutonomyChatRun.Completed
          - AutonomyChatRun.Failed
          description: '`AutonomyChatRun.Completed`,`AutonomyChatRun.Failed`'
        context:
          $ref: '#/components/schemas/AutonomyChatRunWebhookContext'
        thread_id:
          type: string
          format: uuid
          description: Id of the conversation thread the run belongs to. Triggering a routine through the API returns this same id, so an execution started with `POST /routines/{slug}/trigger` is matched to its run events on it.
        run_id:
          type: string
          description: Id of the run. A thread runs several times (one run per user message or wake-up); each terminal run triggers its own webhook.
        outcome:
          type: string
          enum:
          - completed
          - aborted
          - error
          description: Terminal outcome of the run. `completed` maps to the `AutonomyChatRun.Completed` event; `aborted` and `error` map to `AutonomyChatRun.Failed`.
        last_message:
          type:
          - string
          - 'null'
          description: Last assistant message of the run (the final answer), when one was produced
        routine_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Id of the routine that fired this execution. `null` when the conversation was started from the console.
        routine_slug:
          type:
          - string
          - 'null'
          description: Slug of the routine that fired this execution — the same identifier used to trigger it through the API, so the outcome can be routed without a lookup. `null` when the conversation was started from the console.
      required:
      - event
      - context
      - thread_id
      - run_id
      - outcome
      - last_message
      - routine_id
      - routine_slug
    DocumentOrder:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        product_ref:
          type: string
        name:
          type: string
        price_tier:
          type: string
        status:
          type: string
          enum:
          - created
          - processing
          - completed
          - failed
        file_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - company_id
      - product_ref
      - name
      - price_tier
      - status
      - file_id
      - created_at
      - updated_at
    DocumentAnalysisIBANInformation:
      type: object
      properties:
        holder_name:
          type:
          - string
          - 'null'
        bank_name:
          type:
          - string
          - 'null'
        iban:
          type:
          - string
          - 'null'
        bic:
          type:
          - string
          - 'null'
      required:
      - holder_name
      - bank_name
      - iban
      - bic
    Address:
      type: object
      properties:
        street_address:
          type:
          - string
          - 'null'
        street_address_2:
          type:
          - string
          - 'null'
        postal_code:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
      required:
      - street_address
      - street_address_2
      - postal_code
      - city
      - state
      - region
      - country
    ElectronicSignatureCheckWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Check.Started
          - Check.ReviewNeeded
          - Check.Approved
          - Check.Rejected
          - Check.Expired
          description: '`Check.Started`,`Check.ReviewNeeded`,`Check.Approved`,`Check.Rejected`,`Check.Expired`'
        context:
          $ref: '#/components/schemas/CheckWebhookContext'
        check:
          $ref: '#/components/schemas/ElectronicSignatureCheck'
      required:
      - event
      - context
      - check
    EkycCheckDataAi:
      type: object
      properties:
        interpretation:
          type:
          - string
          - 'null'
      required:
      - interpretation
    EkycMobileValidationSignal:
      type: object
      properties:
        number_valid:
          type:
          - boolean
          - 'null'
        line_type:
          type:
          - string
          - 'null'
        current_network:
          allOf:
          - $ref: '#/components/schemas/EkycMobileNetwork'
        original_network:
          allOf:
          - $ref: '#/components/schemas/EkycMobileNetwork'
      required:
      - number_valid
      - line_type
      - current_network
      - original_network
    FraudDatabaseCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type:
          - string
          - 'null'
          format: uuid
        individual_id:
          type:
          - string
          - 'null'
          format: uuid
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
          description: ℹ️ Check status `expired` is deprecated and will be removed Q1'25. It will be replaced with an expired flag.
        type:
          type: string
          default: fraud_database
          enum:
          - fraud_database
        subtype:
          type:
          - string
          - 'null'
          description: Currently always null for `fraud_database` Check
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        data:
          $ref: '#/components/schemas/FraudDatabaseCheckData'
      required:
      - id
      - company_id
      - individual_id
      - is_internal
      - status
      - type
      - subtype
      - last_activity_at
      - data
    DocumentAnalysisPromptDetailedResults:
      type: object
      properties: {}
    IdVerificationCheckDataInformation:
      type: object
      properties:
        document_type:
          type:
          - string
          - 'null'
          enum:
          - passport
          - identity_card
          - driving_license
          - residence_permit
          - visa
          - other
        document_number:
          type:
          - string
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        gender:
          type:
          - string
          - 'null'
        nationality:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        birth_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        birth_place:
          type:
          - string
          - 'null'
          description: City name or "in the air" or "at sea"
        birth_country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        expiration_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        issuing_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        issuing_country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        mrz:
          type:
          - string
          - 'null'
        ip_address:
          type:
          - string
          - 'null'
          description: IP Address of the device used to complete the vendor ID Verification flow
        front_file_id:
          type:
          - string
          - 'null'
        back_file_id:
          type:
          - string
          - 'null'
        signature_file_id:
          type:
          - string
          - 'null'
          description: Signature page file for specific document type such as the French passport
        face_file_id:
          type:
          - string
          - 'null'
        video_file_id:
          type:
          - string
          - 'null'
      required:
      - document_type
      - document_number
      - first_name
      - last_name
      - gender
      - nationality
      - birth_date
      - birth_place
      - birth_country
      - expiration_date
      - issuing_date
      - issuing_country
      - mrz
      - ip_address
      - front_file_id
      - back_file_id
      - signature_file_id
      - face_file_id
      - video_file_id
    NestedUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
      required:
      - id
      - first_name
      - last_name
      - email
    IdVerificationCheckDataIdnowVendor:
      type: object
      properties:
        verification_ref:
          type: string
        verification_url:
          type: string
          description: The URL has a 15 min validity
        verification_status:
          type: string
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        ended_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        comment:
          type:
          - string
          - 'null'
        report_file_id:
          type:
          - string
          - 'null'
        name:
          type: string
          enum:
          - ubble
          - checkout
          - veriff
          - onfido
          - idnow
          default: idnow
      required:
      - verification_ref
      - verification_url
      - verification_status
      - started_at
      - ended_at
      - comment
      - report_file_id
      - name
    DocumentCheckDataSettingsDocumentAnalysis:
      type: object
      properties:
        automatic_rejection:
          type: boolean
        automatic_approval:
          type: boolean
        parameters:
          oneOf:
          - $ref: '#/components/schemas/registration_certificate'
            title: Registration Certificate
          - $ref: '#/components/schemas/iban'
            title: IBAN
          - $ref: '#/components/schemas/proof_of_address'
            title: Proof of Address
          - $ref: '#/components/schemas/prompt'
            title: Prompt
          discriminator:
            propertyName: model
      required:
      - automatic_rejection
      - automatic_approval
      - parameters
    IdVerificationCheckDataOnfidoVendor:
      type: object
      properties:
        verification_ref:
          type: string
        verification_url:
          type: string
          description: The URL has a 15 min validity
        verification_status:
          type: string
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        ended_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        comment:
          type:
          - string
          - 'null'
        report_file_id:
          type:
          - string
          - 'null'
        name:
          type: string
          enum:
          - ubble
          - checkout
          - veriff
          - onfido
          - idnow
          default: onfido
        sdk_token:
          type:
          - string
          - 'null'
          description: SDK token for Onfido SDK integration
      required:
      - verification_ref
      - verification_url
      - verification_status
      - started_at
      - ended_at
      - comment
      - report_file_id
      - name
      - sdk_token
    AmlCheckDataWorldCheckVendorResultsCount:
      type: object
      properties:
        watchlist:
          type: number
        mediacheck:
          type: number
    CaseDeletedWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Case.Deleted
          description: '`Case.Deleted`'
        context:
          $ref: '#/components/schemas/CaseDeletedWebhookContext'
        case:
          $ref: '#/components/schemas/CaseDeleted'
      required:
      - event
      - context
      - case
    CaseReport:
      type: object
      properties:
        download_url:
          type: string
          description: Url to download the case report
        download_url_expire_at:
          type: string
          format: date-time
          description: "Expiration date for the download url  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        generated_at:
          type: string
          format: date-time
          description: "Date of the last activity in this report  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - download_url
      - download_url_expire_at
      - generated_at
    OnlineReputationCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
          description: ℹ️ Check status `expired` is deprecated and will be removed Q1'25. It will be replaced with an expired flag.
        type:
          type: string
          default: online_reputation
          enum:
          - online_reputation
        subtype:
          type:
          - string
          - 'null'
          description: Currently always null for `online_reputation` Check
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        data:
          $ref: '#/components/schemas/OnlineReputationCheckDataDTO'
      required:
      - id
      - company_id
      - is_internal
      - status
      - type
      - subtype
      - last_activity_at
      - data
    AutonomyChatRunWebhookContext:
      type: object
      properties:
        timestamp:
          type: number
          description: Webhook timestamp to prevent replay attacks
        event_id:
          type: string
          description: UUID of the event. When a webhook is retried the event id is the same as the initial call.
        retry_count:
          type: number
          description: Webhook retry counter. 0 for the initial call.
        remaining_retry_count:
          type: number
          description: 'Webhook automatic remaining retry counter. Max retry count: 4.'
        workspace:
          $ref: '#/components/schemas/WebhookContextWorkspace'
      required:
      - timestamp
      - event_id
      - retry_count
      - remaining_retry_count
      - workspace
    CompanyWebhookContext:
      type: object
      properties:
        timestamp:
          type: number
          description: Webhook timestamp to prevent replay attacks
        event_id:
          type: string
          description: UUID of the event. When a webhook is retried the event id is the same as the initial call.
        retry_count:
          type: number
          description: Webhook retry counter. 0 for the initial call.
        remaining_retry_count:
          type: number
          description: 'Webhook automatic remaining retry counter. Max retry count: 4.'
        case:
          $ref: '#/components/schemas/WebhookContextCase'
        workspace:
          $ref: '#/components/schemas/WebhookContextWorkspace'
      required:
      - timestamp
      - event_id
      - retry_count
      - remaining_retry_count
      - case
      - workspace
    IdDocumentCheckDataVendor:
      type: object
      properties:
        name:
          type: string
          enum:
          - veriff
          - idnow
        verification_ref:
          type:
          - string
          - 'null'
        verification_group_ref:
          type:
          - string
          - 'null'
        verification_status:
          type:
          - string
          - 'null'
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        comment:
          type:
          - string
          - 'null'
      required:
      - name
      - verification_ref
      - verification_group_ref
      - verification_status
      - started_at
      - comment
    DocumentCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type:
          - string
          - 'null'
          format: uuid
        individual_id:
          type:
          - string
          - 'null'
          format: uuid
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
          description: ℹ️ Check status `expired` is deprecated and will be removed Q1'25. It will be replaced with an expired flag.
        type:
          type: string
          default: document
          enum:
          - document
        subtype:
          type: string
          description: Contains `"document_type:{settings.document_type_key}"`
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        data:
          $ref: '#/components/schemas/DocumentCheckData'
      required:
      - id
      - company_id
      - individual_id
      - is_internal
      - status
      - type
      - subtype
      - last_activity_at
      - data
    EkycCheckWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Check.Started
          - Check.ReviewNeeded
          - Check.Approved
          - Check.Rejected
          - Check.Expired
          description: '`Check.Started`,`Check.ReviewNeeded`,`Check.Approved`,`Check.Rejected`,`Check.Expired`'
        context:
          $ref: '#/components/schemas/CheckWebhookContext'
        check:
          $ref: '#/components/schemas/EkycCheck'
      required:
      - event
      - context
      - check
    CompanyMonitoringCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
          description: ℹ️ Check status `expired` is deprecated and will be removed Q1'25. It will be replaced with an expired flag.
        type:
          type: string
          default: company_monitoring
          enum:
          - company_monitoring
        subtype:
          type:
          - string
          - 'null'
          description: Currently always null for `company_monitoring` Check
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        data:
          $ref: '#/components/schemas/CompanyMonitoringCheckDataDTO'
      required:
      - id
      - company_id
      - is_internal
      - status
      - type
      - subtype
      - last_activity_at
      - data
    NestedClientPortal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum:
          - KYB
          - KYC
      required:
      - id
      - name
      - type
    AmlCheckDataWorldCheckVendor:
      type: object
      properties:
        is_search_monitored:
          type: boolean
        created_at:
          type: string
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        name:
          type: string
          enum:
          - worldcheck
        case_url:
          type: string
        results_count:
          $ref: '#/components/schemas/AmlCheckDataWorldCheckVendorResultsCount'
      required:
      - is_search_monitored
      - created_at
      - name
      - case_url
    CaseWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Case.ClientPortalWaitStepTriggered
          - Case.Created
          - Case.ReviewConfirmed
          - Case.ReviewDue
          - Case.ReviewUpdated
          - Case.Updated
          description: '`Case.ClientPortalWaitStepTriggered`,`Case.Created`,`Case.ReviewConfirmed`,`Case.ReviewDue`,`Case.ReviewUpdated`,`Case.Updated`'
        sub_event:
          type: string
          enum:
          - Case.AssigneeUpdated
          - Case.ContactHasActionsUpdated
          - Case.FlagsUpdated
          - Case.InfoUpdated
          - Case.MetadataUpdated
          - Case.ReviewerHasActionsUpdated
          - Case.RiskUpdated
          - Case.StatusUpdated
          - Case.TagsUpdated
          - Case.TemplateUpdated
          description: "The `sub_event` depends on the event:\n\n`Case.Updated`\n   - `Case.AssigneeUpdated`\n   - `Case.ContactHasActionsUpdated`\n   - `Case.FlagsUpdated`\n   - `Case.InfoUpdated`\n   - `Case.MetadataUpdated`\n   - `Case.ReviewerHasActionsUpdated`\n   - `Case.RiskUpdated`\n   - `Case.StatusUpdated`\n   - `Case.TagsUpdated`\n   - `Case.TemplateUpdated`\n"
        context:
          $ref: '#/components/schemas/CaseWebhookContext'
        case:
          $ref: '#/components/schemas/CaseDetailed'
      required:
      - event
      - context
      - case
    IdVerificationCheckDataDetailedResults:
      type: object
      properties:
        document:
          $ref: '#/components/schemas/DetailedResultsDocument'
        face:
          $ref: '#/components/schemas/IdVerificationCheckDataDetailedResultsFace'
      required:
      - document
      - face
    EkycCheckDataVendor:
      type: object
      properties:
        name:
          type: string
          enum:
          - gbg
        profile_id:
          type: string
        profile_name:
          type:
          - string
          - 'null'
        country:
          type: string
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        score:
          type:
          - number
          - 'null'
      required:
      - name
      - profile_id
      - profile_name
      - country
      - score
    ElectronicSignatureCheckDataVendor:
      type: object
      properties:
        name:
          type: string
          enum:
          - yousign
        status:
          type:
          - string
          - 'null'
        signature_request_ref:
          type:
          - string
          - 'null'
        signer_ref:
          type:
          - string
          - 'null'
        document_ref:
          type:
          - string
          - 'null'
        signature_link:
          type:
          - string
          - 'null'
        signature_link_expiration_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        ended_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
      required:
      - name
      - status
      - signature_request_ref
      - signer_ref
      - document_ref
      - signature_link
      - signature_link_expiration_date
      - started_at
      - ended_at
    WebhookLogList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WebhookLog'
        pagination:
          example:
            page: 1
            limit: 20
            count: 42
          allOf:
          - $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
    IdVerificationCheckData:
      type: object
      properties:
        result:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        settings:
          $ref: '#/components/schemas/IdVerificationCheckDataSettings'
        vendor:
          oneOf:
          - $ref: '#/components/schemas/IdVerificationCheckDataOnfidoVendor'
            title: Onfido Vendor
          - $ref: '#/components/schemas/IdVerificationCheckDataVeriffVendor'
            title: Veriff Vendor
          - $ref: '#/components/schemas/IdVerificationCheckDataCheckoutVendor'
            title: Checkout Vendor
          - $ref: '#/components/schemas/IdVerificationCheckDataUbbleVendor'
            title: Ubble Vendor
            deprecated: true
          - $ref: '#/components/schemas/IdVerificationCheckDataIdnowVendor'
            title: IDnow VideoIdent Vendor
          discriminator:
            propertyName: name
        review:
          $ref: '#/components/schemas/Review'
        detailed_results:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/IdVerificationCheckDataDetailedResults'
        information:
          $ref: '#/components/schemas/IdVerificationCheckDataInformation'
      required:
      - result
      - settings
      - vendor
      - review
      - detailed_results
      - information
    WebhookList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
        pagination:
          example:
            page: 1
            limit: 20
            count: 42
          allOf:
          - $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
    DocumentDataSettings:
      type: object
      properties:
        document_type:
          description: Document type of this check
          allOf:
          - $ref: '#/components/schemas/CustomDocumentType'
        document_type_key:
          type: string
          description: Key of the document type of this check
        document_analysis:
          allOf:
          - $ref: '#/components/schemas/DocumentCheckDataSettingsDocumentAnalysis'
      required:
      - document_type
      - document_type_key
      - document_analysis
    FraudDatabaseCheckDataInformation:
      type: object
      properties:
        entity_type:
          type: string
          enum:
          - company
          - individual
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        birth_date:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phone_number:
          type:
          - string
          - 'null'
        company_name:
          type:
          - string
          - 'null'
        company_number:
          type:
          - string
          - 'null'
        vat_number:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Address'
      required:
      - entity_type
      - first_name
      - last_name
      - birth_date
      - email
      - phone_number
      - company_name
      - company_number
      - vat_number
      - address
    CompanyClassification:
      type: object
      properties:
        type:
          type: string
        code:
          type: string
        description:
          type:
          - string
          - 'null'
      required:
      - type
      - code
    OnlineReputationCheckDataCompanyDTO:
      type: object
      properties:
        name:
          type: string
        commercial_name:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        registration_number:
          type:
          - string
          - 'null'
        website_url:
          type:
          - string
          - 'null'
      required:
      - name
      - commercial_name
      - country
      - registration_number
      - website_url
    CompanyMonitoringCheckDataSettingsDTO:
      type: object
      properties:
        alert_categories:
          type: array
          items:
            type: string
            enum:
            - financial_changes
            - legal_and_compliance
            - company_status
            - operational_changes
            - debt_and_collection
            - shareholder_changes
            - other
      required:
      - alert_categories
    DocumentCheckDataInformation:
      type: object
      properties:
        expiration_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        document_analysis:
          oneOf:
          - $ref: '#/components/schemas/DocumentAnalysisRegistrationCertificateInformation'
            title: Registration Certificate
          - $ref: '#/components/schemas/DocumentAnalysisIBANInformation'
            title: IBAN
          - $ref: '#/components/schemas/DocumentAnalysisProofOfAddressInformation'
            title: Proof of Address
          - $ref: '#/components/schemas/DocumentAnalysisPromptInformation'
            title: Prompt
          discriminator:
            propertyName: model
      required:
      - expiration_date
      - document_analysis
    DocumentAnalysisRegistrationCertificateDetailedResults:
      type: object
      properties:
        valid_age_in_days:
          $ref: '#/components/schemas/DocumentAnalysisDetailedResult'
        address_matching:
          $ref: '#/components/schemas/DocumentAnalysisDetailedResult'
        registration_number_matching:
          $ref: '#/components/schemas/DocumentAnalysisDetailedResult'
        name_matching:
          $ref: '#/components/schemas/DocumentAnalysisDetailedResult'
        valid_document_type:
          $ref: '#/components/schemas/DocumentAnalysisDetailedResult'
      required:
      - valid_age_in_days
      - address_matching
      - registration_number_matching
      - name_matching
      - valid_document_type
    AmlCheckDataComplyAdvantageMeshSettings:
      type: object
      properties:
        vendor:
          type: string
          enum:
          - comply_advantage_mesh
      required:
      - vendor
    BankingInformation:
      type: object
      properties:
        iban:
          type:
          - string
          - 'null'
          minLength: 15
          maxLength: 34
          example: FR7630006000011234567890189
          description: '[ISO 13616](https://en.wikipedia.org/wiki/International_Bank_Account_Number) IBAN (eg: `FR7630006000011234567890189`).

            Spaces will be removed and value upper-cased.'
        bic:
          type:
          - string
          - 'null'
          minLength: 8
          maxLength: 12
          example: AGRIFRPPXXX
          description: '[ISO 9362](https://en.wikipedia.org/wiki/ISO_9362) BIC (eg: `AGRIFRPPXXX`).

            Spaces will be removed and value upper-cased.'
      required:
      - iban
      - bic
    CaseRelationOfEntity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        to_company_id:
          type: string
          format: uuid
        voting_rights_percentage:
          type:
          - number
          - 'null'
          format: float
        ownership_percentage:
          type:
          - number
          - 'null'
          format: float
        roles:
          type: array
          description: '`legal_representative` `shareholder`'
          items:
            type: string
            enum:
            - legal_representative
            - shareholder
        position:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - to_company_id
      - voting_rights_percentage
      - ownership_percentage
      - roles
      - position
      - created_at
      - updated_at
    DocumentAnalysisDetailedResult:
      type: object
      properties:
        result:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        expected:
          type:
          - string
          - 'null'
        received:
          type:
          - string
          - 'null'
      required:
      - result
      - expected
      - received
    DocumentCheckWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Check.Started
          - Check.ReviewNeeded
          - Check.Approved
          - Check.Rejected
          - Check.Expired
          description: '`Check.Started`,`Check.ReviewNeeded`,`Check.Approved`,`Check.Rejected`,`Check.Expired`'
        context:
          $ref: '#/components/schemas/CheckWebhookContext'
        check:
          $ref: '#/components/schemas/DocumentCheck'
      required:
      - event
      - context
      - check
    Review:
      type: object
      properties:
        comment:
          type:
          - string
          - 'null'
        reviewed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        reviewer_type:
          type:
          - string
          - 'null'
          enum:
          - user
          - system
          - api
        user:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
      required:
      - comment
      - reviewed_at
      - reviewer_type
      - user
    NoteWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Note.Created
          - Note.Deleted
          - Note.Updated
          description: '`Note.Created`,`Note.Deleted`,`Note.Updated`'
        context:
          $ref: '#/components/schemas/NoteWebhookContext'
        note:
          $ref: '#/components/schemas/Note'
      required:
      - event
      - context
      - note
    AmlCheckDataWorldcheckSettings:
      type: object
      properties:
        vendor:
          type: string
          enum:
          - worldcheck
        is_media_check_enabled:
          type: boolean
          description: Whether MediaCheck (adverse media screening) was enabled for this check.
      required:
      - vendor
      - is_media_check_enabled
    FraudDatabaseCheckDataSettings:
      type: object
      properties:
        vendor:
          type: string
          enum:
          - cifas
        automatic_approval:
          type: boolean
        automatic_rejection:
          type: boolean
      required:
      - vendor
      - automatic_approval
      - automatic_rejection
    CaseClientPortal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum:
          - KYB
          - KYC
        wait_step_key:
          type:
          - string
          - 'null'
          description: 'Set when a contact reaches and triggers a `wait` step of this client portal, which will also emit a `ClientPortal.ClientPortalWaitStepTriggered` webhook event.

            You then need to release the `wait` step using [Complete client portal wait step](./client-portal-complete-client-portal-wait-step) to allow the contact to continue the client portal forms'
      required:
      - id
      - name
      - type
      - wait_step_key
    DocumentCheckDataDetailedResults:
      type: object
      properties:
        document_analysis:
          oneOf:
          - $ref: '#/components/schemas/DocumentAnalysisRegistrationCertificateDetailedResults'
            title: Registration Certificate
          - $ref: '#/components/schemas/DocumentAnalysisIBANDetailedResults'
            title: IBAN
          - $ref: '#/components/schemas/DocumentAnalysisProofOfAddressDetailedResults'
            title: Proof of Address
          - $ref: '#/components/schemas/DocumentAnalysisPromptDetailedResults'
            title: Prompt
          discriminator:
            propertyName: model
      required:
      - document_analysis
    DocumentCheckData:
      type: object
      properties:
        result:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        settings:
          $ref: '#/components/schemas/DocumentDataSettings'
        review:
          $ref: '#/components/schemas/Review'
        detailed_results:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/DocumentCheckDataDetailedResults'
        document_file_ids:
          type: array
          items:
            type: string
            format: uuid
        information:
          $ref: '#/components/schemas/DocumentCheckDataInformation'
      required:
      - result
      - settings
      - review
      - detailed_results
      - document_file_ids
      - information
    CompanyMonitoringCheckDataVendorDTO:
      type: object
      properties:
        name:
          type: string
          enum:
          - creditsafe
        is_monitored:
          type: boolean
      required:
      - name
      - is_monitored
    CompanyWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Company.Created
          - Company.Updated
          description: '`Company.Created`,`Company.Updated`'
        sub_event:
          type: string
          enum:
          - Company.InfoUpdated
          - Company.MarkedAsNotRelevant
          - Company.MarkedAsRelevant
          description: "The `sub_event` depends on the event:\n\n`Company.Updated`\n   - `Company.InfoUpdated`\n   - `Company.MarkedAsNotRelevant`\n   - `Company.MarkedAsRelevant`\n"
        context:
          $ref: '#/components/schemas/CompanyWebhookContext'
        company:
          $ref: '#/components/schemas/Company'
      required:
      - event
      - context
      - company
    IdVerificationCheckWebhook:
      type: object
      properties:
        event:
          type: string
          enum:
          - Check.Started
          - Check.ReviewNeeded
          - Check.Approved
          - Check.Rejected
          - Check.Expired
          description: '`Check.Started`,`Check.ReviewNeeded`,`Check.Approved`,`Check.Rejected`,`Check.Expired`'
        context:
          $ref: '#/components/schemas/CheckWebhookContext'
        check:
[...]
