openapi: 3.2.0
info:
  title: ⚙️ API specifications Tables API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: Tables
paths:
  /v1/tables:
    get:
      operationId: table-get-many
      summary: List tables
      description: 'List all tables defined in your workspace


        ---


        #### See also

        Learn more about Tables'
      parameters: []
      responses:
        '200':
          description: 'List of tables


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableList'
      tags:
      - Tables
  /v1/tables/{id}:
    get:
      operationId: table-get-one
      summary: Retrieve a table
      description: 'Returns a table with it''s entries


        ---


        #### See also

        Learn more about Tables'
      parameters:
      - name: id
        required: true
        in: path
        description: Retrieve a table by its `key` first and if not found, by its Dotfile internal `id`.
        examples:
          key:
            summary: by key
            value: my-table-id
          id:
            summary: by id
            value: bf05e8f6-f909-487b-bb49-d58354c2c45c
        schema:
          type: string
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableDetailed'
        '404':
          description: No table can be found.
      tags:
      - Tables
components:
  schemas:
    Table:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Countries risk
        description:
          type:
          - object
          - 'null'
          example: Anti-money laundering and countering the financing of terrorism at international level
        key:
          type: string
          example: countries_risk
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - name
      - description
      - key
      - created_at
      - updated_at
    TableDetailed:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Countries risk
        description:
          type:
          - object
          - 'null'
          example: Anti-money laundering and countering the financing of terrorism at international level
        key:
          type: string
          example: countries_risk
        entries:
          example:
          - country: FR
            risk: low
          - country: QA
            risk: medium
          - country: RU
            risk: high
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - name
      - description
      - key
      - entries
      - created_at
      - updated_at
    TableList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Table'
      required:
      - data
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
x-uploaded-at: '2026-08-14T14:05:07.336Z'
x-commit-sha: f460fa65a5cc33cf4211bbcee7818f93d5b9e8de
