openapi: 3.2.0
info:
  title: ⚙️ API specifications Fraud database check API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: Fraud database check
paths:
  /v1/checks/fraud-database:
    post:
      operationId: fraud-database-create-one
      summary: Create a Fraud database check
      description: 'Create a Fraud database check. The check will search for fraud records associated with the individual or company.

        This feature needs to be enabled on your workspace first. Contact your Customer Success Manager or support@dotfile.com for more information.'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FraudDatabaseCheckCreate'
            examples:
              individualWithoutSettings:
                summary: Create a fraud database check for an individual
                description: Using the body parameter `FraudDatabaseCheckCreate`
                value:
                  individual_id: 4b36ce30-3d90-421a-b2d9-a046e5e4cfef
              individualWithSettings:
                summary: Create a fraud database check for an individual with settings
                description: Using the body parameter `FraudDatabaseCheckCreate`
                value:
                  individual_id: 4b36ce30-3d90-421a-b2d9-a046e5e4cfef
                  settings:
                    vendor: cifas
                    automatic_approval: true
                    automatic_rejection: false
              company:
                summary: Create a fraud database check for a company
                description: Using the body parameter `FraudDatabaseCheckCreate`
                value:
                  company_id: 5c47df41-4ea1-532b-9157-b159f6e5df00
      responses:
        '201':
          description: 'Fraud database check has been created


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudDatabaseCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  - Limit reached. Contact us at support@dotfile.com to lift all limits.\n  - When the feature is disabled for the workspace\n  "
      tags:
      - Fraud database check
  /v1/checks/fraud-database/{id}:
    get:
      operationId: fraud-database-get-one
      summary: Retrieve a Fraud database check
      description: Returns detailed information about the specified fraud database check.
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the Fraud database check
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudDatabaseCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  "
        '404':
          description: No Fraud database check can be found.
      tags:
      - Fraud database check
  /v1/checks/fraud-database/{id}/review:
    patch:
      operationId: fraud-database-review
      summary: Review a fraud database check
      description: Approve or reject a fraud database check. The Reviewer type will be set to `api`.
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the Fraud database check
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewCheckInput'
      responses:
        '200':
          description: 'Fraud database check has been reviewed


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudDatabaseCheck'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No Fraud database check can be found.
      tags:
      - Fraud database check
components:
  schemas:
    FraudDatabaseCheckDataSettings:
      type: object
      properties:
        vendor:
          type: string
          enum:
          - cifas
        automatic_approval:
          type: boolean
        automatic_rejection:
          type: boolean
      required:
      - vendor
      - automatic_approval
      - automatic_rejection
    FraudDatabaseCheckDataAiAnalysis:
      type: object
      properties:
        interpretation:
          type:
          - string
          - 'null'
      required:
      - interpretation
    Review:
      type: object
      properties:
        comment:
          type:
          - string
          - 'null'
        reviewed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        reviewer_type:
          type:
          - string
          - 'null'
          enum:
          - user
          - system
          - api
        user:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
      required:
      - comment
      - reviewed_at
      - reviewer_type
      - user
    FraudDatabaseCheckDataInformation:
      type: object
      properties:
        entity_type:
          type: string
          enum:
          - company
          - individual
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        birth_date:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phone_number:
          type:
          - string
          - 'null'
        company_name:
          type:
          - string
          - 'null'
        company_number:
          type:
          - string
          - 'null'
        vat_number:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Address'
      required:
      - entity_type
      - first_name
      - last_name
      - birth_date
      - email
      - phone_number
      - company_name
      - company_number
      - vat_number
      - address
    FraudDatabaseCheckDataVendor:
      type: object
      properties:
        name:
          type: string
          enum:
          - cifas
        search_reference:
          type:
          - string
          - 'null'
      required:
      - name
      - search_reference
    Address:
      type: object
      properties:
        street_address:
          type:
          - string
          - 'null'
        street_address_2:
          type:
          - string
          - 'null'
        postal_code:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
      required:
      - street_address
      - street_address_2
      - postal_code
      - city
      - state
      - region
      - country
    FraudDatabaseCheckCreate:
      type: object
      properties:
        individual_id:
          type: string
          format: uuid
        settings:
          description: Settings are optional and if not set it will use your workspace default settings
          allOf:
          - $ref: '#/components/schemas/FraudDatabaseCheckSettingsCreate'
        company_id:
          type: string
          format: uuid
      required:
      - individual_id
      - company_id
    FraudDatabaseCheckSettingsCreate:
      type: object
      properties:
        vendor:
          type: string
          enum:
          - cifas
          description: Vendor to use for fraud database check. Currently only `cifas` is supported.
        automatic_approval:
          type: boolean
        automatic_rejection:
          type: boolean
    FraudDatabaseCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type:
          - string
          - 'null'
          format: uuid
        individual_id:
          type:
          - string
          - 'null'
          format: uuid
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
          description: ℹ️ Check status `expired` is deprecated and will be removed Q1'25. It will be replaced with an expired flag.
        type:
          type: string
          default: fraud_database
          enum:
          - fraud_database
        subtype:
          type:
          - string
          - 'null'
          description: Currently always null for `fraud_database` Check
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        data:
          $ref: '#/components/schemas/FraudDatabaseCheckData'
      required:
      - id
      - company_id
      - individual_id
      - is_internal
      - status
      - type
      - subtype
      - last_activity_at
      - data
    ReviewCheckInput:
      type: object
      properties:
        action:
          type: string
          enum:
          - approve
          - reject
        comment:
          type:
          - string
          - 'null'
          description: Optional comment for the review.
        override:
          type: boolean
          description: Set to true to change the status of an already reviewed check (in status approved or rejected).
      required:
      - action
    FraudDatabaseCheckData:
      type: object
      properties:
        result:
          type:
          - string
          - 'null'
          enum:
          - approved
          - rejected
          - error
        settings:
          $ref: '#/components/schemas/FraudDatabaseCheckDataSettings'
        vendor:
          $ref: '#/components/schemas/FraudDatabaseCheckDataVendor'
        review:
          $ref: '#/components/schemas/Review'
        information:
          $ref: '#/components/schemas/FraudDatabaseCheckDataInformation'
        ai_analysis:
          $ref: '#/components/schemas/FraudDatabaseCheckDataAiAnalysis'
      required:
      - result
      - settings
      - vendor
      - review
      - information
      - ai_analysis
    NestedUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
      required:
      - id
      - first_name
      - last_name
      - email
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
x-uploaded-at: '2026-08-14T14:05:07.336Z'
x-commit-sha: f460fa65a5cc33cf4211bbcee7818f93d5b9e8de
