openapi: 3.2.0
info:
  title: ⚙️ API specifications Routines API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: Routines
paths:
  /v1/routines/{slug}/trigger:
    post:
      description: 'Starts an execution of a routine defined in your Dotfile workspace. The agent runs the routine prompt autonomously; the call returns as soon as the execution is enqueued, and the outcome is reported through the autonomy run webhooks.

        Only routines carrying an `external_api` trigger can be fired here — a routine without one or a disabled routine is refused with a `409`. Scope the execution to a case with `case_id`, or leave it out to run across the whole workspace.'
      operationId: routine-trigger-routine
      parameters:
      - name: slug
        required: true
        in: path
        description: Identifier of the routine, generated from its title at creation and stable across renames. Shown in the console on the routine settings.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRoutine'
      responses:
        '201':
          description: 'The execution started


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutineTriggered'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No routine can be found.
        '409':
          description: The routine cannot be triggered because it is disabled or carries no external API trigger.
      summary: Trigger a routine
      tags:
      - Routines
components:
  schemas:
    RoutineTriggered:
      type: object
      properties:
        thread_id:
          type: string
          format: uuid
          description: Identifier of the execution. Carried by the autonomy run webhooks reporting the outcome.
      required:
      - thread_id
    TriggerRoutine:
      type: object
      properties:
        case_id:
          type: string
          format: uuid
          description: Case to scope the execution to. When omitted, the routine runs across the whole workspace.
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
x-uploaded-at: '2026-08-14T14:05:07.336Z'
x-commit-sha: f460fa65a5cc33cf4211bbcee7818f93d5b9e8de
