openapi: 3.2.0
info:
  title: ⚙️ API specifications Cases API
  description: Dotfile public API documentation
  version: v1
  contact: {}
servers:
- url: https://api.dotfile.com
  description: Production environment
security:
- DotfileAPIKey: []
tags:
- name: Cases
paths:
  /v1/cases:
    get:
      operationId: case-get-many
      summary: List all cases
      description: 'Returns a list of all cases created in your Dotfile workspace.


        ---


        #### See also

        Learn more about Cases

        Learn more about Filtering, Sorting and Pagination'
      parameters:
      - name: include_custom_properties
        required: false
        in: query
        description: Include custom properties in the response, default `false`
        schema:
          type: boolean
          default: false
      - name: external_id
        required: false
        in: query
        description: "Filter items by the `external_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: assignee_id
        required: false
        in: query
        description: "Filter items by the `assignee_id.{operator}` field.  \nYou can use the `eq` and `not_eq` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: name
        required: false
        in: query
        description: "Filter items by the `name.{operator}` field.  \nYou can use the `eq`, `not_eq`, `like` and `ilike` operators, the `eq` operator being the default."
        schema:
          type: string
      - name: tags
        required: false
        in: query
        description: "Filter items by the `tags.{operator}` field.  \nYou can use the `array_contains`, `array_not_contains` and `array_overlap` operators, the `array_contains` operator being the default.  \nComma separated for multiple values (`array_contains`, `array_not_contains` and `array_overlap`)."
        schema:
          type: string
      - name: status
        required: false
        in: query
        description: "Filter items by the `status.{operator}` field.  \nYou can use the `eq`, `not_eq`, `in` and `not_in` operators, the `eq` operator being the default.  \nComma separated for multiple values (`in` and `not_in`)."
        schema:
          type: string
          enum:
          - draft
          - open
          - approved
          - rejected
          - closed
      - name: created_at
        required: false
        in: query
        description: "Filter items by the `created_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: updated_at
        required: false
        in: query
        description: "Filter items by the `updated_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: last_activity_at
        required: false
        in: query
        description: "Filter items by the `last_activity_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: sort
        required: false
        in: query
        description: "Use this parameter to sort query results.  \nIf not specified, sorted in _ascending_ order with values of field `created_at`.  \nAvailable fields are `created_at`, `last_activity_at` and `name`."
        schema:
          default: created_at
          type: string
        examples:
          created_at:
            summary: Sort by values of the "created_at" field in ascending order
            value: created_at
          last_activity_at:
            summary: Sort by values of the "last_activity_at" field in descending order
            value: last_activity_at.desc
          name:
            summary: Sort by values of the "name" field in ascending order
            value: name
          multiple:
            summary: Sort by values of multiple fields
            value: created_at,last_activity_at.desc
      - name: page
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose which page you want to display.  \nPage index starts at 1 (the default)."
        schema:
          type: number
          default: 1
          minimum: 1
      - name: limit
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose the number of items per page.  \nLimit defaults to 20, maximum value is 100."
        schema:
          type: number
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 'List of cases created in the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCaseList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - One or multiple filtering parameters might be malformed. Make sure to use a supported operator and value for each filter.\n  - If specified, make sure the value of the `page` or `limit` query parameter are valid.\n  - Value of the `sort` parameter is invalid. Make sure the field name is supported, the sorting order is correctly specified, and a same field is not used multiple times for sorting.\n  "
      tags:
      - Cases
    post:
      operationId: case-create-one
      summary: Create a case
      description: 'Create a case in your workspace.


        ---


        #### See also

        Learn more about Cases

        Learn more about Templates'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseCreate'
      responses:
        '201':
          description: 'Case has been created in the workspace


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseCreateResponse'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  "
      tags:
      - Cases
  /v1/cases/{id}:
    get:
      operationId: case-get-one
      summary: Retrieve a case
      description: 'Returns detailed information about the specified case.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: id
        required: true
        in: path
        description: Retrieve a case by its Dotfile internal `id` first and if not found, by its `external_id`.
        examples:
          id:
            summary: by id
            value: bf05e8f6-f909-487b-bb49-d58354c2c45c
          external_id:
            summary: by external_id
            value: my-external-id
        schema:
          type: string
      - name: include_not_relevant
        required: false
        in: query
        description: Include companies and individuals marked as not relevant, default `false`
        schema:
          default: false
          type: boolean
      - name: exclude_internal_checks
        required: false
        in: query
        description: Exclude companies and individuals checks that are marked as internal
        schema:
          default: false
          type: boolean
      - name: data_lineage
        required: false
        in: query
        description: Include data lineage for companies and individuals in the response, default `false`
        schema:
          default: false
          type: boolean
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseDetailed'
        '404':
          description: No case can be found.
      tags:
      - Cases
    patch:
      operationId: case-update-one
      summary: Update a case
      description: 'Update case properties.


        ---


        #### See also

        Learn more about Cases

        Learn more about Templates'
      parameters:
      - name: id
        required: true
        in: path
        description: Update a case by its Dotfile internal `id` first and if not found, by its `external_id`.
        examples:
          id:
            summary: by id
            value: bf05e8f6-f909-487b-bb49-d58354c2c45c
          external_id:
            summary: by external_id
            value: my-external-id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseUpdate'
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No case can be found.
      tags:
      - Cases
    delete:
      operationId: case-delete-one
      summary: Delete a case
      description: 'Delete the specified case.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: id
        required: true
        in: path
        description: Delete a case by its Dotfile internal `id` first and if not found, by its `external_id`.
        examples:
          id:
            summary: by id
            value: bf05e8f6-f909-487b-bb49-d58354c2c45c
          external_id:
            summary: by external_id
            value: my-external-id
        schema:
          type: string
      - name: permanent
        required: false
        in: query
        description: Optional query parameter to permanently delete a case
        schema:
          type: boolean
      responses:
        '204':
          description: ''
        '404':
          description: No case can be found.
      tags:
      - Cases
  /v1/cases/{id}/notes:
    get:
      operationId: case-get-many-notes
      summary: Retrieve case's notes
      description: 'Returns case''s notes with comments


        ---


        #### See also

        Learn more about Cases

        Learn more about Filtering, Sorting and Pagination

        Learn more about Create a note'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      - name: created_at
        required: false
        in: query
        description: "Filter items by the `created_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: updated_at
        required: false
        in: query
        description: "Filter items by the `updated_at.{operator}` field.  \nYou can use the `eq`, `not_eq`, `gt`, `gte`, `lt` and `lte` operators, the `eq` operator being the default."
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?(Z|([0-9]{2}:[0-9]{2}))?)?$
          example:
          - '2023-01-31'
          - '2023-01-31T13:30:00Z'
          - '2023-01-31T13:30:00.000Z'
          description: Date (`yyyy-MM-dd` eg `2023-01-31`) or date time (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`) in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
      - name: sort
        required: false
        in: query
        description: "Use this parameter to sort query results.  \nIf not specified, sorted in _ascending_ order with values of field `created_at`.  \nAvailable fields are `created_at` and `updated_at`."
        schema:
          default: created_at
          type: string
        examples:
          created_at:
            summary: Sort by values of the "created_at" field in ascending order
            value: created_at
          updated_at:
            summary: Sort by values of the "updated_at" field in descending order
            value: updated_at.desc
          multiple:
            summary: Sort by values of multiple fields
            value: created_at,updated_at.desc
      - name: page
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose which page you want to display.  \nPage index starts at 1 (the default)."
        schema:
          default: 1
          type: number
          minimum: 1
      - name: limit
        required: false
        in: query
        description: "Query response is paginated.  \nUse this parameter to choose the number of items per page.  \nLimit defaults to 20, maximum value is 100."
        schema:
          type: number
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: 'List of notes on the case


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseNotePaginateList'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - One or multiple filtering parameters might be malformed. Make sure to use a supported operator and value for each filter.\n  - If specified, make sure the value of the `page` or `limit` query parameter are valid.\n  - Value of the `sort` parameter is invalid. Make sure the field name is supported, the sorting order is correctly specified, and a same field is not used multiple times for sorting.\n  "
      tags:
      - Cases
  /v1/cases/{id}/documents:
    get:
      operationId: case-get-document
      summary: Retrieve case's documents
      description: 'Retrieve all documents related to a case by its Dotfile internal `id`.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      - name: company_id
        required: false
        in: query
        description: Only include documents of this specific company (when omitted, by default all companies and individuals of the case are includes)
        schema:
          type: string
      - name: individual_id
        required: false
        in: query
        description: Only include documents of this specific individual (when omitted, by default all companies and individuals of the case are includes)
        schema:
          type: string
      - name: type
        required: false
        in: query
        description: "Only include some specific document types (when omitted, by default all document types are included)  \n\nComma separated for multiple values"
        schema:
          enum:
          - case_report
          - document_order
          - check__document
          - check__id_document
          - check__id_verification
          - check__electronic_signature
          type: string
      - name: include_check_history
        required: false
        in: query
        description: Historical documents will also be include (when omitted, by default only latest document types are included)
        schema:
          type: boolean
      - name: include_not_relevant
        required: false
        in: query
        description: Documents from companies or individuals marked as not relevant will also be include (when omitted, by default only relevant companies or individuals documents are included)
        schema:
          type: boolean
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseDocumentList'
        '404':
          description: No case can be found.
      tags:
      - Cases
  /v1/cases/{id}/generate-report:
    post:
      operationId: case-generate-report
      summary: Generate case report
      description: 'Request the generation of a case report by its Dotfile internal `id`. Retrieve the report by subscribing to `CaseReport.Generated` webhook event.


        ---


        #### See also

        Learn more about Cases

        Learn more about Webhooks'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseReportParams'
      responses:
        '204':
          description: ''
        '404':
          description: No case can be found.
      tags:
      - Cases
  /v1/cases/{id}/reviews:
    post:
      operationId: case-review-create-one
      summary: Create a case review
      description: 'Create a case review which will update the case status according to the review status.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CaseReviewApprovedCreate'
                title: Create an approved review
              - $ref: '#/components/schemas/CaseReviewRejectedCreate'
                title: Create a rejected review
              - $ref: '#/components/schemas/CaseReviewClosedCreate'
                title: Create a closed review
      responses:
        '201':
          description: 'Case review has been created


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseReview'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No case can be found.
      tags:
      - Cases
  /v1/cases/{id}/risks:
    post:
      operationId: risk-create-one
      summary: Create an automatic risk
      description: 'Create an automatic risk on a Case.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskCreate'
      responses:
        '201':
          description: 'Risk has been created


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Risk'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the body payload matches the expected schema\n  - Automatic risk cannot be created when workspace has online risk engines.\n  "
        '404':
          description: No case can be found.
      tags:
      - Cases
  /v1/cases/{caseId}/relations:
    post:
      operationId: case-relation-create-one
      summary: Create a relation
      description: 'Create a relation from an individual or a company to a company.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: caseId
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CaseRelationCreateCompanyTarget'
                title: Relation from a company to a company
              - $ref: '#/components/schemas/CaseRelationCreateIndividualTarget'
                title: Relation from an individual to another company
            examples:
              fromCompanyompany:
                summary: Create a relation from a company to the `main` company of the case
                value:
                  from_company_id: de0d49bd-ea3d-4943-8bf6-dc0034aa6ec4
              fromIndividual:
                summary: Create a relation from an individual to a company with all properties
                value:
                  from_individual_id: 4b36ce30-3d90-421a-b2d9-a046e5e4cfef
                  to_company_id: de0d49bd-ea3d-4943-8bf6-dc0034aa6ec4
                  voting_rights_percentage: 51
                  ownership_percentage: 51
                  position: Board member
                  roles:
                  - shareholder
                  - legal_representative
      responses:
        '201':
          description: 'Relation has been created in the case


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseRelation'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  - Make sure the body payload matches the expected schema\n  - A case must have a `main` company to create relation in it.\n  - Relation from a given individual or company to another company must be unique.\n  "
        '404':
          description: No case, company or individual can be found.
      tags:
      - Cases
  /v1/cases/{caseId}/relations/{caseRelationId}:
    patch:
      operationId: case-relation-update-one
      summary: Update a relation
      description: 'Update a relation properties.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: caseId
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      - name: caseRelationId
        required: true
        in: path
        description: Id of the relation
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseRelationUpdate'
      responses:
        '200':
          description: '**ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseRelation'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifiers specified in the URL are valid UUIDs\n  - Make sure the body payload matches the expected schema\n  "
        '404':
          description: No case or relation can be found.
      tags:
      - Cases
    delete:
      operationId: case-relation-delete-one
      summary: Delete a relation
      description: 'Delete the specified relation.


        ---


        #### See also

        Learn more about Cases'
      parameters:
      - name: caseId
        required: true
        in: path
        description: Id of the case
        schema:
          format: uuid
          type: string
      - name: caseRelationId
        required: true
        in: path
        description: Id of the relation
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifiers specified in the URL are valid UUIDs\n  - Make sure that when there are individual or company relations in a case, each individual or company has at least one relation (no orphan)\n  "
        '404':
          description: No case or relation can be found.
      tags:
      - Cases
  /v1/cases/{id}/document-templates/{key}/render:
    post:
      description: 'Render a `case_report` document template for a case and get the PDF back in the response. The latest published version of the template is used. No request body is needed. Unlike `POST /cases/{id}/generate-report`, which queues the full case report and delivers it through the `CaseReport.Generated` webhook, this endpoint answers synchronously and renders the template configured in your workspace.


        Rendering goes through a third party, so this endpoint can also answer `CASE_REPORT_RENDER_FAILED`: a `400` carrying the reason when the template itself cannot be rendered, or a `502` when the rendering service is unavailable. Retrying only helps the `502`.


        ---


        #### See also

        Learn more about Cases'
      operationId: case-render-document-template
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
          example: bf05e8f6-f909-487b-bb49-d58354c2c45c
        description: Render a report for a case by its Dotfile internal `id`.
      - name: key
        required: true
        in: path
        description: Key of the `case_report` document template to render, as configured in your workspace.
        schema:
          example: kyc_checks_report
          type: string
      responses:
        '200':
          description: 'The rendered report


            **ℹ️ Click to see full payload**'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              example: PDF
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified in the URL is a valid UUID\n  - The document template has no published version yet (`DOCUMENT_TEMPLATE_NOT_PUBLISHED`)\n  - The case has too many checks for a synchronous report (`CASE_REPORT_TOO_MANY_CHECKS`), use `POST /cases/{id}/generate-report` instead\n  - The document template could not be rendered (`CASE_REPORT_RENDER_FAILED`)\n  "
        '404':
          description: No case or document template can be found.
        '502':
          description: The rendering service is unavailable (`CASE_REPORT_RENDER_FAILED`). Retry the request.
      summary: Render a document template for a case
      tags:
      - Cases
components:
  schemas:
    NoteComment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        note_id:
          type: string
          format: uuid
          description: Comment's note id
        content:
          type: string
          description: HTML content
        author:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
        author_type:
          type: string
          enum:
          - user
          - api
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - note_id
      - content
      - author
      - author_type
      - created_at
      - updated_at
    CaseList:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
          - draft
          - open
          - approved
          - rejected
          - closed
        review:
          allOf:
          - $ref: '#/components/schemas/CaseReview'
        external_id:
          type:
          - string
          - 'null'
        assignee_id:
          type:
          - string
          - 'null'
        space_slug:
          type:
          - string
          - 'null'
        template:
          allOf:
          - $ref: '#/components/schemas/TemplateLight'
        template_id:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
          description: Prefer using `template.key` instead.
        contact_has_actions:
          type: boolean
        reviewer_has_actions:
          type: boolean
        risk:
          allOf:
          - $ref: '#/components/schemas/Risk'
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: Object in a format of `key` (string) / `value` (string)
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        last_contact_action_at:
          type:
          - string
          - 'null'
          format: date-time
          description: "Latest contact action date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        flags:
          type: array
          description: '`all_checks_approved` `for_review` `for_first_collect` `for_recollection` `first_collect_completed`'
          items:
            type: string
            enum:
            - all_checks_approved
            - for_review
            - for_first_collect
            - for_recollection
            - first_collect_completed
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        custom_properties:
          type: object
          description: "Optional custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to read the case.  \n\nArchived custom properties are omitted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: When there are no value for this custom property on the case
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
      required:
      - id
      - name
      - status
      - review
      - external_id
      - assignee_id
      - space_slug
      - template
      - template_id
      - contact_has_actions
      - reviewer_has_actions
      - risk
      - metadata
      - last_activity_at
      - last_contact_action_at
      - flags
      - tags
      - created_at
      - updated_at
    CaseDocumentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CaseDocument'
      required:
      - data
    Risk:
      type: object
      properties:
        id:
          type: string
        mode:
          type: string
          enum:
          - automatic
          - manual
        level:
          type: string
          enum:
          - not_defined
          - low
          - medium
          - high
          - critical
          - prohibited
        comment:
          type:
          - string
          - 'null'
        score:
          type:
          - number
          - 'null'
        components:
          type:
          - object
          - 'null'
          additionalProperties:
            type: number
          description: Object in a format of `key` (string) / `value` (number)
        flags:
          type:
          - object
          - 'null'
          additionalProperties:
            type: boolean
          description: Object in a format of `key` (string) / `value` (boolean)
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - mode
      - level
      - comment
      - score
      - components
      - flags
      - created_at
      - updated_at
    CaseCreateResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
          - draft
          - open
          - approved
          - rejected
          - closed
        review:
          allOf:
          - $ref: '#/components/schemas/CaseReview'
        external_id:
          type:
          - string
          - 'null'
        space_slug:
          type:
          - string
          - 'null'
        template:
          allOf:
          - $ref: '#/components/schemas/TemplateLight'
        template_id:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
          description: Prefer using `template.key` instead.
        contact_has_actions:
          type: boolean
        reviewer_has_actions:
          type: boolean
        flags:
          type: array
          description: '`all_checks_approved` `for_review` `for_first_collect` `for_recollection` `first_collect_completed`'
          items:
            type: string
            enum:
            - all_checks_approved
            - for_review
            - for_first_collect
            - for_recollection
            - first_collect_completed
        tags:
          type: array
          items:
            type: string
        risk:
          allOf:
          - $ref: '#/components/schemas/Risk'
        custom_properties:
          type: object
          description: "Custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to read the case.  \n\nArchived custom properties are omitted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: When there are no value for this custom property on the case
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: Object in a format of `key` (string) / `value` (string)
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        last_contact_action_at:
          type:
          - string
          - 'null'
          format: date-time
          description: "Latest contact action date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        controls:
          type: array
          items:
            $ref: '#/components/schemas/CaseControl'
        individuals:
          type: array
          items:
            $ref: '#/components/schemas/Individual'
        companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        assignee:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
        assignee_id:
          type:
          - string
          - 'null'
          deprecated: true
          description: "The user id of the assignee of the case. `null` if not assigned.  \n\nPrefer to use `assignee.id` instead."
        client_portal:
          allOf:
          - $ref: '#/components/schemas/CaseClientPortal'
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - name
      - status
      - review
      - external_id
      - space_slug
      - template
      - template_id
      - contact_has_actions
      - reviewer_has_actions
      - flags
      - tags
      - risk
      - custom_properties
      - metadata
      - last_activity_at
      - last_contact_action_at
      - controls
      - individuals
      - companies
      - assignee
      - assignee_id
      - client_portal
      - created_at
      - updated_at
    CaseRelation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        from_company_id:
          type:
          - string
          - 'null'
          format: uuid
        from_individual_id:
          type:
          - string
          - 'null'
          format: uuid
        to_company_id:
          type: string
          format: uuid
        voting_rights_percentage:
          type:
          - number
          - 'null'
          format: float
        ownership_percentage:
          type:
          - number
          - 'null'
          format: float
        roles:
          type: array
          description: '`legal_representative` `shareholder`'
          items:
            type: string
            enum:
            - legal_representative
            - shareholder
        position:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - from_company_id
      - from_individual_id
      - to_company_id
      - voting_rights_percentage
      - ownership_percentage
      - roles
      - position
      - created_at
      - updated_at
    RiskCreate:
      type: object
      properties:
        level:
          type: string
          enum:
          - not_defined
          - low
          - medium
          - high
          - critical
          - prohibited
        score:
          type: number
          format: integer
          maximum: 2147483647
          minimum: -2147483648
        components:
          type: object
          additionalProperties:
            type: number
            maximum: 2147483647
            minimum: -2147483648
          example:
            customer_score: 1400
            product_score: 3000
            delivery_channel_score: 2000
            transaction_score: 1667
            geography_score: 2000
        flags:
          type: object
          additionalProperties:
            type: boolean
          example:
            prohibited_country_ubo: true
            complex_company_alert: false
      required:
      - level
    CaseReviewRejectedCreate:
      type: object
      properties:
        status:
          type: string
          enum:
          - rejected
        comment:
          type: string
          description: May be **required** depending on your workspace settings
        reviewed_at:
          type: string
          format: date-time
          description: "Optional review date, will default to current time if not set. Useful to anti-date a review  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - status
    CaseRelationUpdate:
      type: object
      properties:
        voting_rights_percentage:
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          maximum: 100
        ownership_percentage:
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          maximum: 100
        roles:
          type: array
          description: '`legal_representative` `shareholder`'
          items:
            type: string
            enum:
            - legal_representative
            - shareholder
        position:
          type:
          - string
          - 'null'
        to_company_id:
          type: string
          format: uuid
    CaseReportParams:
      type: object
      properties:
        timezone:
          type: string
          default: Europe/Paris
          description: Only accepts TZ identifier. Refer to https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for TZ database values.
    CaseRelationCreateWithRef:
      type: object
      properties:
        voting_rights_percentage:
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          maximum: 100
        ownership_percentage:
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          maximum: 100
        roles:
          type: array
          description: '`legal_representative` `shareholder`'
          items:
            type: string
            enum:
            - legal_representative
            - shareholder
        position:
          type:
          - string
          - 'null'
        source_company_ref:
          type: string
          description: 'Reference to the source company within the same payload.

            Use the `ref` value of the company this relation comes FROM.

            When omitted, defaults to the main company of the case.'
    Note:
      type: object
      properties:
        id:
          type: string
          format: uuid
        case_id:
          type: string
          format: uuid
          description: Note's case id
        content:
          type: string
          description: HTML content
        comments:
          description: Maximum of 50 comments per note.
          type: array
          items:
            $ref: '#/components/schemas/NoteComment'
        author:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
        author_type:
          type: string
          enum:
          - user
          - api
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - case_id
      - content
      - comments
      - author
      - author_type
      - created_at
      - updated_at
    DataLineage:
      type: object
      properties:
        current_value:
          oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            items: {}
          - type:
            - object
            - 'null'
            additionalProperties: true
          description: Current value of the property on the entity
        sources:
          description: Property sources
          type: array
          items:
            $ref: '#/components/schemas/DataLineageValueSource'
      required:
      - current_value
      - sources
    CaseReview:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - approved
          - rejected
          - closed
        comment:
          type:
          - string
          - 'null'
        reviewer_type:
          type: string
          enum:
          - user
          - system
          - api
        user:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
        reviewed_at:
          type: string
          format: date-time
          description: Date time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)
        next_review_at:
          type:
          - string
          - 'null'
          format: date
          description: "Next review date. `null` if no review schedule after this one.  \nDate in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)"
      required:
      - id
      - status
      - comment
      - reviewer_type
      - user
      - reviewed_at
      - next_review_at
    CaseCreate:
      type: object
      properties:
        name:
          type: string
          description: Name for the case (at most 180 characters).
          maxLength: 180
          minLength: 1
        status:
          type: string
          enum:
          - draft
          - open
          default: open
          description: "Optional status for this case, Defaults to `open`.\n   To set the status to `approved`, `rejected` or `closed`, use the [Create a case review](./case-review-create-one) endpoint."
        external_id:
          type: string
          description: Optional external id for this case. You can use that to reference an entity of your system. Must be unique if set.
        template_key:
          type:
          - string
          - 'null'
          description: Optional template key to attach template to this case.
        template_id:
          type:
          - string
          - 'null'
          format: uuid
          description: "Prefer using `template_key` instead.  \nOptional template id to attach template to this case. Cannot be set at the same time as `template_key`."
          deprecated: true
        assignee_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Optional assignee id to assign a user to this case.
        space_slug:
          type:
          - string
          - 'null'
          description: Optional space slug to assign this case to a space at creation. Must reference a space in the same workspace. Cases created without `space_slug` remain unassigned.
          pattern: ^space_[A-Za-z0-9]{12}$
          example: space_7hk92Q75dm0a
        metadata:
          type:
          - object
          - 'null'
          description: Optional metadata in a format of `key` (string) / `value` (string) for this case.
          additionalProperties:
            type: string
          example:
            custom_key: 'true'
            my_data: this is important
            count: '42'
        custom_properties:
          type: object
          description: "Optional partial custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to create the case.  \n\nArchived custom properties are not accepted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: To remove the value for this custom property on the case
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
        tags:
          description: Optional tags for this case. Either tag `id`, or tag `label`. Tag labels are case insensitive
          example:
          - High risk
          - 8468f8e0-1067-4099-b8c3-824ae8b7204e
          type:
          - array
          - 'null'
          items:
            type: string
        companies:
          default: []
          description: 'Optional array of companies to create within this case.

            Each company can reference other companies in the same payload using the `ref` field.

            At least one company with `type: main` is expected if companies are provided.'
          type: array
          items:
            $ref: '#/components/schemas/CompanyCreateInput'
        individuals:
          default: []
          description: 'Optional array of individuals to create within this case.

            Individuals can reference companies in the same payload using `source_company_ref` in their relations.'
          type: array
          items:
            $ref: '#/components/schemas/IndividualCreateInput'
      required:
      - name
    CaseRelationCreateIndividualTarget:
      type: object
      properties:
        from_individual_id:
          type: string
          format: uuid
        to_company_id:
          type: string
          format: uuid
          description: When omitted, will default to the `main` company of the case
        voting_rights_percentage:
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          maximum: 100
        ownership_percentage:
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          maximum: 100
        roles:
          type: array
          description: '`legal_representative` `shareholder`'
          items:
            type: string
            enum:
            - legal_representative
            - shareholder
        position:
          type:
          - string
          - 'null'
      required:
      - from_individual_id
    TemplateLight:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        key:
          type: string
      required:
      - id
      - name
      - key
    CaseDetailed:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
          - draft
          - open
          - approved
          - rejected
          - closed
        review:
          allOf:
          - $ref: '#/components/schemas/CaseReview'
        external_id:
          type:
          - string
          - 'null'
        space_slug:
          type:
          - string
          - 'null'
        template:
          allOf:
          - $ref: '#/components/schemas/TemplateLight'
        template_id:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
          description: Prefer using `template.key` instead.
        contact_has_actions:
          type: boolean
        reviewer_has_actions:
          type: boolean
        flags:
          type: array
          description: '`all_checks_approved` `for_review` `for_first_collect` `for_recollection` `first_collect_completed`'
          items:
            type: string
            enum:
            - all_checks_approved
            - for_review
            - for_first_collect
            - for_recollection
            - first_collect_completed
        tags:
          type: array
          items:
            type: string
        risk:
          allOf:
          - $ref: '#/components/schemas/Risk'
        custom_properties:
          type: object
          description: "Custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to read the case.  \n\nArchived custom properties are omitted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: When there are no value for this custom property on the case
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: Object in a format of `key` (string) / `value` (string)
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        last_contact_action_at:
          type:
          - string
          - 'null'
          format: date-time
          description: "Latest contact action date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        controls:
          type: array
          items:
            $ref: '#/components/schemas/CaseControl'
        individuals:
          type: array
          items:
            $ref: '#/components/schemas/Individual'
        companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        assignee:
          allOf:
          - $ref: '#/components/schemas/NestedUser'
        client_portal:
          allOf:
          - $ref: '#/components/schemas/CaseClientPortal'
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - name
      - status
      - review
      - external_id
      - space_slug
      - template
      - template_id
      - contact_has_actions
      - reviewer_has_actions
      - flags
      - tags
      - risk
      - custom_properties
      - metadata
      - last_activity_at
      - last_contact_action_at
      - controls
      - individuals
      - companies
      - assignee
      - client_portal
      - created_at
      - updated_at
    CaseDocument:
      type: object
      properties:
        company_id:
          type: string
        individual_id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - case_report
          - document_order
          - check__document
          - check__id_document
          - check__id_verification
          - check__electronic_signature
        document_order:
          $ref: '#/components/schemas/CaseDocumentDocumentOrder'
        check:
          $ref: '#/components/schemas/CaseDocumentCheck'
        file_ids:
          description: Use the [Download a file](./file-get-file) operation to retrieve each files
          type: array
          items:
            type: string
        updated_at:
          type: string
          format: date-time
          description: "Latest update date of the files  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - name
      - type
      - file_ids
      - updated_at
    Case:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
          - draft
          - open
          - approved
          - rejected
          - closed
        review:
          allOf:
          - $ref: '#/components/schemas/CaseReview'
        external_id:
          type:
          - string
          - 'null'
        assignee_id:
          type:
          - string
          - 'null'
        space_slug:
          type:
          - string
          - 'null'
        template:
          allOf:
          - $ref: '#/components/schemas/TemplateLight'
        template_id:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
          description: Prefer using `template.key` instead.
        contact_has_actions:
          type: boolean
        reviewer_has_actions:
          type: boolean
        flags:
          type: array
          description: '`all_checks_approved` `for_review` `for_first_collect` `for_recollection` `first_collect_completed`'
          items:
            type: string
            enum:
            - all_checks_approved
            - for_review
            - for_first_collect
            - for_recollection
            - first_collect_completed
        tags:
          type: array
          items:
            type: string
        risk:
          allOf:
          - $ref: '#/components/schemas/Risk'
        custom_properties:
          type: object
          description: "Custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to read the case.  \n\nArchived custom properties are omitted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: When there are no value for this custom property on the case
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: Object in a format of `key` (string) / `value` (string)
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        last_contact_action_at:
          type:
          - string
          - 'null'
          format: date-time
          description: "Latest contact action date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - name
      - status
      - review
      - external_id
      - assignee_id
      - space_slug
      - template
      - template_id
      - contact_has_actions
      - reviewer_has_actions
      - flags
      - tags
      - risk
      - custom_properties
      - metadata
      - last_activity_at
      - last_contact_action_at
      - created_at
      - updated_at
    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
        case_id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - main
          - affiliated
        name:
          type: string
          maxLength: 160
        is_relevant:
          type: boolean
        commercial_name:
          type:
          - string
          - 'null'
          maxLength: 160
        country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        registration_number:
          type:
          - string
          - 'null'
          maxLength: 180
        registration_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        status:
          type: string
          enum:
          - live
          - closed
          - not_reported
          default: not_reported
        legal_form:
          type:
          - string
          - 'null'
        entity_legal_form:
          type:
          - string
          - 'null'
          description: '[ISO 20275](https://www.gleif.org/en/about-lei/iso-20275-entity-legal-forms-code-list) code (eg: `6CHY`)'
        entity_legal_form_label:
          type:
          - string
          - 'null'
          readOnly: true
          description: "Label in the origin country language of the [ISO 20275](https://www.gleif.org/en/about-lei/iso-20275-entity-legal-forms-code-list) code.  \nMay contains multiple labels separated with a comma `,` when the code is assigned to multiple label in different languages."
        address:
          $ref: '#/components/schemas/Address'
        classifications:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompanyClassification'
        banking_information:
          $ref: '#/components/schemas/BankingInformation'
        share_capital:
          type:
          - string
          - 'null'
        tax_identification_number:
          type:
          - string
          - 'null'
        website_url:
          type:
          - string
          - 'null'
        employer_identification_number:
          type:
          - string
          - 'null'
        custom_properties:
          type: object
          description: "Custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to read the company.  \n\nArchived custom properties are omitted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: When there are no value for this custom property on the company
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
        document_orders:
          type: array
          items:
            $ref: '#/components/schemas/DocumentOrder'
        checks:
          type: array
          items:
            $ref: '#/components/schemas/Check'
        relations:
          type: array
          items:
            $ref: '#/components/schemas/CaseRelationOfEntity'
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        last_activity_at:
          type: string
          format: date-time
          description: "Latest activity date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        data_lineage:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DataLineage'
          description: Data lineage keyed by property path, returned only when `data_lineage=true` is provided.
      required:
      - id
      - case_id
      - type
      - name
      - is_relevant
      - commercial_name
      - country
      - registration_number
      - registration_date
      - status
      - legal_form
      - entity_legal_form
      - entity_legal_form_label
      - address
      - classifications
      - banking_information
      - share_capital
      - tax_identification_number
      - website_url
      - employer_identification_number
      - custom_properties
      - document_orders
      - checks
      - relations
      - created_at
      - updated_at
      - last_activity_at
    CaseRelationCreateCompanyTarget:
      type: object
      properties:
        from_company_id:
          type: string
          format: uuid
        to_company_id:
          type: string
          format: uuid
          description: When omitted, will default to the `main` company of the case
        voting_rights_percentage:
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          maximum: 100
        ownership_percentage:
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          maximum: 100
        roles:
          type: array
          description: '`legal_representative` `shareholder`'
          items:
            type: string
            enum:
            - legal_representative
            - shareholder
        position:
          type:
          - string
          - 'null'
      required:
      - from_company_id
    DocumentOrder:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        product_ref:
          type: string
        name:
          type: string
        price_tier:
          type: string
        status:
          type: string
          enum:
          - created
          - processing
          - completed
          - failed
        file_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          description: "Creation date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        updated_at:
          type: string
          format: date-time
          description: "Latest update date  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - id
      - company_id
      - product_ref
      - name
      - price_tier
      - status
      - file_id
      - created_at
      - updated_at
    Pagination:
      type: object
      properties:
        page:
          type: number
          description: Current page number (defined in query parameter)
          default: 1
        limit:
          type: number
          description: Item count per page (defined in query parameter)
          default: 20
        count:
          type: number
          description: Total items count
          example: 42
      required:
      - page
      - limit
      - count
    CaseDocumentCheck:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subtype:
          type:
          - string
          - 'null'
          description: "Contains the `subtype` for some check `type`:  \n- `document`: Currently contains `\"document_type:{document_type_key}\"`  \n- `electronic_signature`: Contains `\"document_template:{document_template_key}\"`  \n- For all other check type, always contains `null`"
        document_type_key:
          type: string
          description: Set only for `document` Check with the document type key.
        type:
          type: string
          enum:
          - document
          - id_document
          - id_verification
          - electronic_signature
        version:
          type: string
          enum:
          - current
          - history
      required:
      - id
      - subtype
      - type
      - version
    PaginatedCaseList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CaseList'
        pagination:
          example:
            page: 1
            limit: 20
            count: 42
          allOf:
          - $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
    Address:
      type: object
      properties:
        street_address:
          type:
          - string
          - 'null'
        street_address_2:
          type:
          - string
          - 'null'
        postal_code:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
      required:
      - street_address
      - street_address_2
      - postal_code
      - city
      - state
      - region
      - country
    CompanyClassification:
      type: object
      properties:
        type:
          type: string
        code:
          type: string
        description:
          type:
          - string
          - 'null'
      required:
      - type
      - code
    CaseNotePaginateList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Note'
        pagination:
          example:
            page: 1
            limit: 20
            count: 42
          allOf:
          - $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
    CompanyCreateInput:
      type: object
      properties:
        name:
          type: string
          description: Name for the company (at most 160 characters).
          maxLength: 160
          minLength: 1
        type:
          type: string
          enum:
          - main
          - affiliated
          default: main
        commercial_name:
          type:
          - string
          - 'null'
          description: Commercial name for the company (at most 160 characters).
          maxLength: 160
          minLength: 1
        registration_number:
          type:
          - string
          - 'null'
        registration_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        status:
          type: string
          enum:
          - live
          - closed
          - not_reported
          default: not_reported
        legal_form:
          type:
          - string
          - 'null'
        entity_legal_form:
          type:
          - string
          - 'null'
          description: '[ISO 20275](https://www.gleif.org/en/about-lei/iso-20275-entity-legal-forms-code-list) code (eg: `6CHY`)'
        country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        address:
          default: {}
          allOf:
          - $ref: '#/components/schemas/PartialAddress'
        classifications:
          default: []
          type: array
          items:
            $ref: '#/components/schemas/CompanyClassification'
        banking_information:
          $ref: '#/components/schemas/BankingInformation'
        share_capital:
          type:
          - string
          - 'null'
        tax_identification_number:
          type:
          - string
          - 'null'
        website_url:
          type:
          - string
          - 'null'
        employer_identification_number:
          type:
          - string
          - 'null'
        custom_properties:
          type: object
          description: "Optional partial custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to create the company.  \n\nArchived custom properties are not accepted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: To remove the value for this custom property on the company
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
        ref:
          type: string
          description: 'Unique reference identifier within this request payload.

            Use this to reference the company from other entities (e.g., in `source_company_ref` of relations).

            Can be any unique string (e.g., "main-co", "holding-1").'
        relations:
          default: []
          type: array
          items:
            $ref: '#/components/schemas/CaseRelationCreateWithRef'
      required:
      - name
    CaseReviewApprovedCreate:
      type: object
      properties:
        status:
          type: string
          enum:
          - approved
        comment:
          type: string
          description: May be **required** depending on your workspace settings
        reviewed_at:
          type: string
          format: date-time
          description: "Optional review date, will default to current time if not set. Useful to anti-date a review  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
        next_review_at:
          type:
          - string
          - 'null'
          format: date
          description: "Computed by default from your workspace settings and the case risk level by default but optionally override the next review date for this case, with `null` to force not date (no next review scheduled).  \nDate in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)"
      required:
      - status
    IndividualCreateInput:
      type: object
      properties:
        first_name:
          type: string
        middle_name:
          type:
          - string
          - 'null'
          description: May contain multiple middle names
        last_name:
          type: string
        maiden_name:
          type:
          - string
          - 'null'
        is_business_contact:
          type: boolean
          default: false
          description: Set to `true` if this individual should be contacted regarding the case, this will also make the `email` required.
        is_beneficial_owner:
          type: boolean
          default: false
          description: Set to true if this individual ultimately owns or controls the main company
        is_controlling_person:
          type: boolean
          default: false
          description: Set to true if this individual exercises control over the main company through means other than ownership (e.g. senior management, board member)
        is_delegator:
          type: boolean
          default: false
          description: "Set to true if this individual is delegating its signing authority to the signatory of the case.  \nIndividual cannot be both delegator and signatory \nNot relevant individual cannot be delegator"
        is_signatory:
          type: boolean
          default: false
          description: "Set to true if this person has delegated authority to be a signatory of the case, this will also make the `email` required.  \nIndividual cannot be both signatory and delegator \nNot relevant individual cannot be signatory"
        email:
          type:
          - string
          - 'null'
          description: "Required if individual `is_business_contact` is `true`. \nMust be a valid email as defined in the [HTML spec](https://html.spec.whatwg.org/multipage/input.html#valid-e-mail-address) (eg. must match the following JavaScript-compatible regular expression: ```/^[a-zA-Z0-9.!#$%&'*+\\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/```)"
          format: email
        birth_date:
          type:
          - string
          - 'null'
          format: date
          description: Date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)(`yyyy-MM-dd` eg `2023-01-31`)
        birth_country:
          type:
          - string
          - 'null'
          format: alpha-2
          minLength: 2
          maxLength: 2
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)'
        birth_place:
          type:
          - string
          - 'null'
        gender:
          type:
          - string
          - 'null'
          enum:
          - male
          - female
          - other
          description: Gender of the individual
        nationalities:
          description: Nationalities of the individual as ISO 3166-1 alpha-2 country codes
          type:
          - array
          - 'null'
          items:
            type: string
        address:
          default: {}
          allOf:
          - $ref: '#/components/schemas/PartialAddress'
        banking_information:
          allOf:
          - $ref: '#/components/schemas/BankingInformation'
        tax_identification_number:
          type:
          - string
          - 'null'
        social_security_number:
          type:
          - string
          - 'null'
        phone_number:
          type:
          - string
          - 'null'
          format: e.164
          minLength: 10
          maxLength: 15
          example: '+33601234567'
          description: '[E.164](https://en.wikipedia.org/wiki/E.164) phoneNumber (eg `+XXXXXXXXXXX`)'
        position:
          type:
          - string
          - 'null'
        ownership_percentage:
          type:
          - number
          - 'null'
          minimum: 0
          maximum: 100
        voting_rights_percentage:
          type:
          - number
          - 'null'
          minimum: 0
          maximum: 100
        roles:
          type: array
          description: '`legal_representative` `shareholder`'
          items:
            type: string
            enum:
            - legal_representative
            - shareholder
        custom_properties:
          type: object
          description: "Optional partial custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to create the individual.  \n\nArchived custom properties are not accepted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: To remove the value for this custom property on the individual
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
        ref:
          type: string
          description: 'Unique reference identifier within this request payload.

            Use this to reference the individual from other entities in the same payload.

            Can be any unique string (e.g., "john-doe", "ceo-1").'
        relations:
          default: []
          type: array
          items:
            $ref: '#/components/schemas/CaseRelationCreateWithRef'
      required:
      - first_name
      - last_name
    CaseUpdate:
      type: object
      properties:
        name:
          type: string
          description: Update the name of the case (at most 180 characters).
          maxLength: 180
          minLength: 1
        status:
          type: string
          enum:
          - draft
          - open
          description: "Update the status of the case to `draft` or `open`.\n  To set the status to `approved`, `rejected` or `closed`, use the [Create a case review](./case-review-create-one) endpoint."
        external_id:
          type: string
          description: Update the external id of the case. Must be unique if set. Set to `null` to clear it.
        template_key:
          type:
          - string
          - 'null'
          description: Update the template of the case using template key. Set to `null` to detach template.
        template_id:
          type:
          - string
          - 'null'
          format: uuid
          description: "Prefer using `template_key` instead.  \nUpdate the template of the case. Set to `null` to detach template. Cannot be set at the same time as `template_key`."
          deprecated: true
        assignee_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Update the user assignee of the case. Set to `null` to un-assign.
        custom_properties:
          type: object
          description: "Optional partial custom properties object in a format of `key` (string) / `value` (string | boolean | string[] | number | null) to update the case.  \n\nArchived custom properties are not accepted."
          additionalProperties:
            oneOf:
            - type:
              - string
              - 'null'
              description: "- For custom property `text`, maxLength depends on the settings `isMultiLine`. singleLine: maxLength=250, multiLine: maxLength=10000  \n\n- For custom property `email`, maxLength=250.  \n\n- For custom property `url`, maxLength=2000  \n\n- For custom property `date`, date in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-dd` eg `2023-01-31`)  \n\n- For custom property `phone_number`, phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format (eg `+33123456789`)"
            - type:
              - boolean
              - 'null'
              description: For custom property `boolean`
            - type:
              - number
              - 'null'
              description: For custom property `numeric`, actual minimum and maximum will depend on the property settings but will be within -9007199254740991 and 9007199254740991
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type:
              - array
              - 'null'
              description: "- For custom property `choices`, contains the `key` of the options  \n\n- For custom property `countries`, contains the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code (eg `FR`)"
              items:
                type: string
            - description: To remove the value for this custom property on the case
          example:
            custom_text: Custom properties text
            custom_boolean: true
            custom_date: '2012-12-12'
            custom_countries:
            - FR
            custom_choices:
            - option1
            - option2
            custom_numeric: 12.3
            custom_property: null
        metadata:
          type:
          - object
          - 'null'
          description: Update all the metadata in a format of `key` (string) / `value` (string) of the case. Set to `null` to remove all metadata.
          additionalProperties:
            type: string
          example:
            custom_key: 'true'
            my_data: this is important
            count: '42'
    CaseReviewClosedCreate:
      type: object
      properties:
        status:
          type: string
          enum:
          - closed
        comment:
          type: string
          description: May be **required** depending on your workspace settings
        reviewed_at:
          type: string
          format: date-time
          description: "Optional review date, will default to current time if not set. Useful to anti-date a review  \nDate time in format [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) (`yyyy-MM-ddTHH:mm:ss.S+X` eg `2023-01-31T13:30:00.000Z`)"
      required:
      - status
    NestedUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
      required:
      - id
      - first_name
      - last_name
      - email
    Check:
      type: object
      properties:
        id:
          type: string
          format: uuid
        individual_id:
          type:
          - string
          - 'null'
        company_id:
          type:
          - string
          - 'null'
        is_internal:
          type: boolean
        status:
          type: string
          enum:
          - in_progress
          - need_review
          - processing
          - approved
          - rejected
          - expired
[...]
