openapi: 3.0.0
info:
  title: Dotfile API — Files
  description: Dotfile public API — Files operations. Split by tag from the OpenAPI Dotfile publishes at https://docs.dotfile.com/openapi/%EF%B8%8F-api-specifications.json
    (discovered via https://docs.dotfile.com/.well-known/api-catalog). Content is verbatim; only the tag partition is ours.
  version: v1
  contact:
    name: Dotfile Support
    email: support@dotfile.com
    url: https://docs.dotfile.com/reference/getting-help
servers:
- url: https://api.dotfile.com
  description: Production environment
tags:
- name: Files
security:
- DotfileAPIKey: []
paths:
  /v1/files/upload:
    post:
      operationId: file-upload-file
      summary: Upload a file
      description: "Upload a file and get an `upload_ref` to be used for Identity Document Check or Documents checks.\n\n\
        ---\n\nMaximum file size is at most **20MB** but may vary depending on the usage afterward.\n\nThe `upload_ref` is\
        \ valid for about **1 day**.\n\nThe accepted file formats are:\n- Image files:  \n  - `.avif`: AVIF image (`image/avif`)\
        \  \n  - `.bmp`: Windows OS/2 Bitmap Graphics (`image/bmp`)  \n  - `.gif`: Graphics Interchange Format (GIF, `image/gif`)\
        \  \n  - `.ico`: Icon format (`image/vnd.microsoft.icon`)  \n  - `.ico`: Icon format (`image/x-icon`)  \n  - `.jpeg,\
        \ .jpg`: JPEG images (`image/jpeg`)  \n  - `.png`: Portable Network Graphics (`image/png`)  \n  - `.svg`: Scalable\
        \ Vector Graphics (SVG, `image/svg+xml`)  \n  - `.tif, .tiff`: Tagged Image File Format (TIFF, `image/tiff`)  \n \
        \ - `.webp`: WEBP image (`image/webp`)  \n- Office files:  \n  - `.doc`: Microsoft Word (`application/msword`)  \n\
        \  - `.docx`: Microsoft Word (OpenXML, `application/vnd.openxmlformats-officedocument.wordprocessingml.document`)\
        \  \n  - `.odp`: OpenDocument presentation document (`application/vnd.oasis.opendocument.presentation`)  \n  - `.ods`:\
        \ OpenDocument spreadsheet document (`application/vnd.oasis.opendocument.spreadsheet`)  \n  - `.odt`: OpenDocument\
        \ text document (`application/vnd.oasis.opendocument.text`)  \n  - `.pdf`: Adobe Portable Document Format (PDF, `application/pdf`)\
        \  \n  - `.ppt`: Microsoft PowerPoint (`application/vnd.ms-powerpoint`)  \n  - `.pptx`: Microsoft PowerPoint (OpenXML,\
        \ `application/vnd.openxmlformats-officedocument.presentationml.presentation`)  \n  - `.vsd`: Microsoft Visio (`application/vnd.visio`)\
        \  \n  - `.xls`: Microsoft Excel (`application/vnd.ms-excel`)  \n  - `.xlsx`: Microsoft Excel (OpenXML, `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`)\
        \  \n- Text files:  \n  - `.csv`: Comma-separated values (CSV, `text/csv`)  \n  - `.json`: JSON format (`application/json`)\
        \  \n  - `.jsonld`: JSON-LD format (`application/ld+json`)  \n  - `.rtf`: Rich Text Format (RTF, `application/rtf`)\
        \  \n  - `.txt`: Text, (generally ASCII or ISO 8859-n, `text/plain`)  \n- Archive files:  \n  - `.arc`: Archive document\
        \ (multiple files embedded, `application/x-freearc`)  \n  - `.bz`: BZip archive (`application/x-bzip`)  \n  - `.bz2`:\
        \ BZip2 archive (`application/x-bzip2`)  \n  - `.gz`: GZip Compressed Archive (`application/gzip`)  \n  - `.rar`:\
        \ RAR archive (`application/vnd.rar`)  \n  - `.tar`: Tape Archive (TAR, `application/x-tar`)  \n  - `.zip`: ZIP archive\
        \ (`application/zip`)  \n  - `.7z`: 7-zip archive (`application/x-7z-compressed`)  \n  - `.7z`: 7-zip archive on windows\
        \ (`application/x-compressed`)  \n  - `.zip`: ZIP archive on windows (`application/x-zip-compressed`)\n\n---\n\n####\
        \ See also  \nLearn more about [Files](./files-guide)  \n"
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: 'File uploaded and reference ready to be used.


            **ℹ️ Click to see full payload**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - When the file is missing\n \
            \ - When the file is empty\n  "
        '413':
          description: File too large, maximum file size is **20MB**.
        '415':
          description: File type not supported.
      tags:
      - Files
  /v1/files/{id}:
    get:
      operationId: file-get-file
      summary: Download a file
      description: "Download a file. Get file content as standard `binary/octet-stream` File.\n\n---\n\n#### See also  \n\
        Learn more about [Files](./files-guide)  \n"
      parameters:
      - name: id
        required: true
        in: path
        description: Id of the file
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: 'Get File content


            **ℹ️ Click to see full payload**'
          content:
            '*/*':
              schema:
                type: string
                format: binary
              example: File
        '400':
          description: "The request is either malformed or contain invalid parameters.\n\n  - Make sure the identifier specified\
            \ in the URL is a valid UUID\n  "
        '404':
          description: No file can be found.
      tags:
      - Files
components:
  securitySchemes:
    DotfileAPIKey:
      type: apiKey
      in: header
      name: X-DOTFILE-API-KEY
      description: Configure your api key in the Workspace settings
